@* @model CapaEntidad.ViewModel.VM_FiscalizaNotificacion *@
@model CapaEntidad.ViewModel.VM_ResolucionTFFS

<style type="text/css">
    #tbRenderListBuscarResolucionTFFS_wrapper {
        padding: 0px;
    }

    #tbConsultasBuscarResolucionTFFS_info {
        color: #33b35a;
        font-size: 12px;
        margin-top: 12px;
    }
</style>


<script type="text/javascript">
    var _renderListBuscarResol = {};
    _renderListBuscarResol.tbEliTABLA = [];
    // iniciar datos en la tabla
    _renderListBuscarResol.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};

        //columns_label = ["INFORME", "Sub. Dir. Linea", "Nro_THabilitante", "Titular"];
        columns_label = ["Fecha Registro", "Nro Resolucion Tribunal", "Nro Resolucion", "Nro. Expediente Administrativo", "Nro. Titulo Habilitante", "Titular", "Modalidad"];
        columns_data = ["FECHA", "NUM_RESOLUCION_TFFS", "NUM_RESOLUCION", "NUMERO_EXPEDIENTE", "NUM_THABILITANTE", "TITULAR", "MODALIDAD"];     //NUMERO_RESOLUCION
        options = {
            page_length: 10, row_index: true, row_delete: true, row_fnDelete: "_renderListBuscarResol.fnDelete(this)", page_sort: true
        };
        _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS = utilDt.fnLoadDataTable_Detail(_renderListBuscarResol.frm.find("#tbRenderListBuscarResolucionTFFS"), columns_label, columns_data, options);
        _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model.tbBuscarTFFS))')).draw();

        options = {
            page_paging: true, page_length: 10, row_index: true, row_select: true, row_fnSelect: "_renderListBuscarResol.fnSelect(this)"
        };
        utilDt.fnLoadDataTable_Detail(_renderListBuscarResol.frm.find("#tbConsultaRS"), columns_label, columns_data, options);
        _renderListBuscarResol.dtConsultaInforme = _renderListBuscarResol.fnInitDataTablePaging(options);
    }

    _renderListBuscarResol.fnViewModalConsulta = function () {
        utilSigo.modalDraggable(_renderListBuscarResol.frm.find("#mdlConsultasBuscarResolucionTFFS"), '.modal-header');
        _renderListBuscarResol.frm.find("#mdlConsultasBuscarResolucionTFFS").modal({ keyboard: true, backdrop: 'static' });
    }


    _renderListBuscarResol.fnSelect = function (obj) {
        var data = _renderListBuscarResol.dtConsultaInforme.row($(obj).parents('tr')).data();
        if (!utilDt.existValorSearch(_renderListBuscarResol.dtRenderListaBuscarResolucionTFFS, "NUMERO", data["NUMERO"])) {
            data["RegEstado"] = 1;
            _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.rows.add([data]).draw();
            _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.page('last').draw('page');
        } else {
            utilSigo.toastWarning("Aviso", "El informe ya se encuentra en la lista");
        }
        _renderListBuscarResol.frm.find('#mdlConsultasBuscarResolucionTFFS').modal('hide');
    }

    /*Listado de registros (render)*/
    _renderListBuscarResol.fnDelete = function (obj) {
        utilSigo.dialogConfirm("Confirmacion", "¿Está seguro de Eliminar el Registro Seleccionado?", function (r) {
            if (r) {
                var data = _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.row($(obj).parents('tr')).data();
                if (data["RegEstado"] == "0") {
                    //let EliTabla = "";
                    
                    if (data["COD_RESODIREC_INI_PAU"] != "" && data["COD_RESODIREC"] != "") {
                        _renderListBuscarResol.tbEliTABLA.push({
                            EliTABLA: "DETALLE_EX",
                            COD_RESODIREC: data["COD_RESODIREC"],
                            COD_RESODIREC_INI_PAU: data["COD_RESODIREC_INI_PAU"]

                        });
                    }
                    else if (data["COD_RESODIREC"] != "") {
                        _renderListBuscarResol.tbEliTABLA.push({
                            EliTABLA: "DETALLE_RD",
                            COD_RESODIREC: data["COD_RESODIREC"]
                        });
                    }
                    else if (data["COD_INFORME"] != "") {
                        _renderListBuscarResol.tbEliTABLA.push({
                            EliTABLA: "DETALLE_INFORME",
                            COD_INFORME: data["COD_INFORME"]
                        });
                    }
                    else if (data["COD_ILEGAL"] != "") {
                        _renderListBuscarResol.tbEliTABLA.push({
                            EliTABLA: "DETALLE_ILEGAL",
                            COD_ILEGAL: data["COD_ILEGAL"]
                        });
                    }

                }
                _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.row($(obj).parents('tr')).remove().draw(false);
                utilSigo.toastSuccess("Éxito", "El elemento ha sido eliminado correctamente");
            }
        });
    }
    _renderListBuscarResol.fnGetListEliTABLA = function () { return _renderListBuscarResol.tbEliTABLA }

    // para llenar el modal
    _renderListBuscarResol.fnInitDataTablePaging = function (options) {
        var optDt = {};
        optDt.iLength = options.page_length;
        optDt.iStart = 0;
        optDt.bSearch = false;
        optDt.bInfo = true;
        optDt.bSort = true;
        optDt.aSort = [];
        return _renderListBuscarResol.frm.find("#tbConsultaRS").DataTable({
            processing: true,
            serverSide: true,
            searching: optDt.bSearch,
            ordering: optDt.bSort,
            deferLoading: 0,
            paging: true,
            ajax: {
                //"url": urlLocalSigo + "Fiscalizacion/FiscalizacionNotificacion/ConsultaModal",
                
                "url": initSigo.urlControllerGeneral + "/GetListaGeneralPaging",
                "data": function (d) {
                    d.customSearchEnabled = true;
                    d.customSearchForm = "TFFS"; //ddlModalFiscalizacion
                    d.customSearchType = _renderListBuscarResol.frm.find("#ddlBusquedaTFFSApel").val();
                    d.customSearchValue = _renderListBuscarResol.frm.find("#txtConsultasBuscarResolucionTFFS").val();
                    for (var i = 0; i < d.order.length; i++) {
                        d.order[i]["column_name"] = d.columns[d.order[i]["column"]]["data"];
                    }
                    d.columns = null;
                },
                "error": function (jqXHR) {
                    utilSigo.unblockUIGeneral();
                    utilSigo.toastError("Error", initSigo.MessageError);
                    console.log(jqXHR.responseText);
                }
            },
            columns: options.table_columns,
            bInfo: optDt.bInfo,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
            "bLengthChange": false,
            "aaSorting": optDt.aSort,
            "pageLength": optDt.iLength,
            "displayStart": optDt.iStart,
            "oLanguage": initSigo.oLanguage,
            "drawCallback": initSigo.showPagination,
        });
    }

    _renderListBuscarResol.fnConsulta = function () {
        var txtConsulta = _renderListBuscarResol.frm.find("#txtConsultasBuscarResolucionTFFS").val();
        if (txtConsulta.length > 2) {
            _renderListBuscarResol.dtConsultaInforme.ajax.reload();
        } else {
            utilSigo.toastWarning("Aviso", "Ingrese al menos 3 caracteres para proceder con la búsqueda.");
        }
    }

    _renderListBuscarResol.fnInit = function () {
        _renderListBuscarResol.frm.find("#btnConsultasBuscarResolucionTFFS").click(function () {
            _renderListBuscarResol.fnConsulta();

        });
        _renderListBuscarResol.frm.find("#txtConsultasBuscarResolucionTFFS").keyup(function (e) {
            if (e.keyCode == 13) {
                _renderListBuscarResol.fnConsulta();
            }
        });
        _renderListBuscarResol.frm.find("#mdlConsultasBuscarResolucionTFFS").on('shown.bs.modal', function () {
            _renderListBuscarResol.frm.find("#txtConsultasBuscarResolucionTFFS").focus();
        });
    }

    _renderListBuscarResol.fnGetList = function () {
        let list = [], rows, countFilas, data;

        rows = _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            $.each(rows, function (i, o) {
                data = _renderListBuscarResol.dtRenderListaBuscarResolucionTFFS.row($(o)).data();
                // if (data["RegEstado"] == "1" || data["RegEstado"] == "2") {
                list.push(utilSigo.fnConvertArrayToObject(data));
                // }
            });
        }

        return list;
    }


    $(document).ready(function () {
        _renderListBuscarResol.frm = $("#frmRenderListBuscarResolucionTFFS");
        //inicializa la tabla con los campos obtenidos del model
        _renderListBuscarResol.fnInitDataTable_Detail();
        //inicializa los componentes necesarios
        _renderListBuscarResol.fnInit();
    });

</script>
<div id="frmRenderListBuscarResolucionTFFS">
    @Html.HiddenFor(m => m.txtNumeroDocumento)
    <div class="table-responsive">
        @*<label for="lbldocument" class="form-group col-md-3 text-small">Lista de Resoluciones Directorales y Subdirectorales Apeladas</label>*@
        <table id="tbRenderListBuscarResolucionTFFS" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th colspan="9" class="text-sm-left">
                        <div class="form-inline">
                            <i class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" onclick="_renderListBuscarResol.fnViewModalConsulta();" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                            <label for="lbldocument" class="form-group col-md-4 text-small" id="lbldocumentname">Resolución que se rectifica</label>
                            @* <i class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" onclick="_renderListBuscarResol.fnViewModalConsulta();" data-toggle="tooltip" data-placement="top" title="Nuevo"></i> *@
                            <strong>@Html.Raw(@Model.lbldocumento)</strong>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    <div class="modal fade hide" id="mdlConsultasBuscarResolucionTFFS" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-small" style="cursor:move;">
                    @Model.txtTituloModal
                    <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body" style="padding:0px;">
                    <div id="frmConsultasBuscarResolucionTFFS">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-3 mb-3" style="margin-bottom:0px!important;">
                                    @Html.DropDownListFor(m => m.sBusquedaTFFSApel, new SelectList(Model.sBusquedaTFFSApel, "Value", "Text", Model.sBusquedaTFFSApel), new { @class = "form-control form-control-sm", @id = "ddlBusquedaTFFSApel" })
                                </div>
                                <div class="col-md-9 mb-3" style="margin-bottom:0px!important;">
                                    <div class="input-group">
                                        <input type="text" id="txtConsultasBuscarResolucionTFFS" class="form-control form-control-sm" maxlength="50" />
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="btnConsultasBuscarResolucionTFFS" style="cursor:pointer;color:forestgreen">
                                                <i class="fa fa-search" data-toggle="tooltip" data-placement="top" title="Buscar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="overflow-y:hidden;">
                            <table id="tbConsultaRS" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>