@model CapaEntidad.ViewModel.VM_ResolucionTFFS

    <div id="fmrRDAmpliacion">
        <!--Medidas Cautelares-->
        <div id="divMedCaut">
            @Html.Partial("~/Areas/Tribunal/Views/ManTribunal/_Shared/_generic/_renderMedCaut.cshtml", Model)
        </div>


        <div class="card-header text-small">Motivo de Ampliación<br /></div>
        <div><br /></div>
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="chkGTF" class="text-small">Ampliar imputación de una infracción</label>
            </div>
            <div class="form-group col-md-4">
                @Html.CheckBoxFor(m => m.chkmotamp_ampimp, new { @class = "form-check-input", style = "width:15px;height:16px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="chkGTF" class="text-small">Ampliar por otras infracciones</label>
            </div>
            <div class="form-group col-md-4">
                @Html.CheckBoxFor(m => m.chkmotamp_ampotrinf, new { @class = "form-check-input", style = "width:15px;height:16px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="chkGTF" class="text-small">Ampliación por plazos</label>
            </div>
            <div class="form-group col-md-4">
                @Html.CheckBoxFor(m => m.chkmotamp_ampporpla, new { @class = "form-check-input", style = "width:15px;height:16px;" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="chkGTF" class="text-small">Otros</label>
            </div>
            <div class="form-group col-md-6">
                @Html.TextAreaFor(m => m.txtmotamp_otros, 4, 1, new { @class = "form-control form-control-sm" })
            </div>
            <div class="form-group col-md-2">
            </div>
        </div>

        <!--Infracciones-->
        <div id="divInfracciones">
            @Html.Partial("~/Areas/Tribunal/Views/ManTribunal/_Shared/_generic/_renderInfracciones.cshtml", Model)
        </div>

        <!--Rectificacion-->
        <div>
            @Html.Partial("~/Areas/Tribunal/Views/ManTribunal/_Shared/_generic/_renderRectificacion.cshtml", Model)
        </div>

    </div>
