@model SIGOFCv3.Areas.THabilitante.Models.ManGrillaViewModelMiBosque

<link href="~/Areas/General/css/Controles/_ManGrilla.css" rel="stylesheet" />
<div class="card">
    <div class="card-header text-left">
        <h5>@Model.titleMenu</h5>
    </div>
    <div class="card-body">
        <form id="frmManGrilla" method="post">
            @Html.HiddenFor(m => m.tipoFormulario)
            <div class="form-row">
                <div class="form-group col-md-4">
                    <p>Tipo de obligación</p>
                    @Html.DropDownList("cboOpciones", (IEnumerable<SelectListItem>)Model.cboOpciones, new { @class = "form-control form-control-sm" })
                </div>
                <div class="form-group col-md-4">
                    <p>Estado</p>
                    @Html.DropDownList("cboOpciones2", (IEnumerable<SelectListItem>)Model.cboOpciones2, new { @class = "form-control form-control-sm" })
                </div>
                <div class="btn-group col-md-2 mt-4" style="padding-top:5px;">
                    <a id="btnManGrillaBuscar" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar el registro" onclick="_manGrilla.fnSearchDataTable()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                    <a id="btnManGrillaReload" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Actualizar el listado" onclick="_manGrilla.fnRefreshDataTable()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                </div>
            </div>
        </form>
        <div class="table-responsive" id="divTablaGeneral">
            <table id="tbGrillaGeneral" class="table table-hover table-bordered" style="width:100%;"
                   data-request_url="@Url.Action("GetListaGeneralPaging", "Controles", new { Area= "General" })">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
