
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Areas/General/js/Controles/_ManGrilla.js"></script>
<script src="~/Areas/THabilitante/js/ManPlanManejo/Index.js"></script>
@section scripts{
    <script>
    "use strict";
    var rol = '';
    $(document).ready(function () {
        //Validamos el rol del usuario
        utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnManGrillaNuevo');
    });
    </script>
}
<div class="container-fluid" id="contenedorPlanManejo"
     data-request_url="@Url.Action("_ManGrilla", "Controles", new { Area= "General" })"
     data-request_formulario="@ViewBag.Formulario" data-request_titulo="@ViewBag.TituloFormulario">
</div>
<div id="contenedorPlanManejo_Control" style="display:none;">
    <button id="btnCreateNew"></button>
</div>
<div class="modal fade hide" id="contenedorTHBuscarModal" tabindex="-1" role="dialog"></div>
<form style="display:none;" id="frmAddEditPM" method="post" action="@Url.Action("AddEditPM","ManPlanManejo",new { Area="THabilitante"})">
    <input type="hidden" id="codPM" name="codPM" />
    <input type="hidden" id="codTH" name="codTH" />
    <input type="hidden" id="modTH" name="modTH" />
    <input type="hidden" id="numTH" name="numTH" />
    <input type="hidden" id="tituTH" name="tituTH" />
    <input type="hidden" id="indi" name="indi" />
    <input type="hidden" id="cod_mtipo" name="cod_mtipo" />
</form>
<input type="hidden" id="hdMsj" value="@ViewBag.AlertaInicial" />
<!--Modales-->