@{
    ViewBag.Title = ViewBag.TituloFormulario;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Areas/Fiscalizacion/js/InformacionTitular/Index.js"></script>
@section scripts{
    <script>
    "use strict";
    var rol = '';
    $(document).ready(function () {
        //Validamos el rol del usuario
        utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnAdd');
    });
    </script>
}
<form id="frmManInfTitular">
    @Html.Hidden("tipoFormulario", (object)ViewBag.Formulario)
    @Html.Hidden("titleMenu", (object)ViewBag.TituloFormulario)
    @Html.Hidden("alertaFormulario", (object)ViewBag.AlertaInicial)

    <div id="dvManInfTitularContenedor" class="container-fluid"></div>
</form>

<div class="modal fade hide" id="mdN_ListOpciones" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                Seleccione Tipo de Documento
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.DropDownList("ddlManInfTitularOpcionesId", new SelectList(ViewBag.ddlListOpciones, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="ManInfTitular.fnNuevaCN()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
