@model CapaEntidad.ViewModel.VM_PlanManejoGeneral
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section scripts{
    <script>
    "use strict";
    var rol = '';
    $(document).ready(function () {
        //Validamos el rol del usuario
        utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnRegistrarPM', '@Model.ddlItemIndicadorId');
    });
    </script>
}
<script src="~/Areas/THabilitante/js/ManPlanManejoForestal/ValidarFecha.js"></script>
<script src="~/Scripts/sigo/utility.uploadFile.js"></script>
<div class="container-fluid">
    <div class="card">
        <div class="card-header text-right">
            @Model.lblTituloCabecera
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header text-small">
                    <a id="btnRegistrarPM" href="javascript:void(0)" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Guardar"><i class="fa mx-2 fa-lg fa-save"></i></a>
                    <a id="btnRegresarPM" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Regresar"><i class="fa mx-2 fa-lg fa-reply"></i></a>
                    @Model.lblTituloEstado
                </div>
                <div class="card-body">
                    <form id="frmPlanManejoGeneral">
                        @Html.HiddenFor(m => m.appClient)
                        @Html.HiddenFor(m => m.appData)
                        @Html.HiddenFor(m => m.opRegresar)
                        @Html.HiddenFor(m => m.hdfManCOD_PGMF)
                        @Html.HiddenFor(m => m.hdfManRegEstado)
                        @Html.HiddenFor(m => m.esPMFI)
                        @Html.HiddenFor(m => m.ddlItemIndicadorEnable)
                        @Html.HiddenFor(m => m.codTipoPlan)
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="navDatosTab" data-toggle="tab" href="#navDatos" role="tab" aria-controls="home" aria-selected="true">Estado Situacional / Informe de recomendación</a></li>
                            <li class="nav-item"><a class="nav-link" id="navDatosAdicTab" data-toggle="tab" href="#navDatosAdic" role="tab" aria-controls="home" aria-selected="false">@Model.tituloDatosGenerales</a></li>
                        </ul>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="navDatos" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="ddlItemIndicadorId" class="text-small">Indicador</label>
                                            @if (Model.ddlItemIndicadorEnable)
                                            {
                                                @Html.DropDownListFor(m => m.ddlItemIndicadorId, new SelectList(Model.ddlItemIndicador, "Value", "Text"), new { @class = "form-control form-control-sm" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => m.ddlItemIndicadorId, new SelectList(Model.ddlItemIndicador, "Value", "Text"), new { @class = "form-control form-control-sm", disabled = "disabled" })
                                            }

                                        </div>
                                        <div class="form-group col-md-6">

                                            <label for="txtUsuarioRegistro" class="text-small">Usuario que ingresó el registro</label>
                                            @Html.EditorFor(m => m.txtUsuarioRegistro, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div id="divCKEDITOR" style="display:none;">

                                    </div>
                                    <div class="form-row" id="divObsSubsanado" style="display:none;">
                                        <div class="col-md-6 mb-3">
                                            <div class="form-group">
                                                <label for="chkItemPlanManejo" class="text-small"></label>
                                                <div class="form-check">
                                                    @Html.CheckBoxFor(m => m.OBSERV_SUBSANAR)
                                                    <label class="form-check-label text-small" for="OBSERV_SUBSANAR">
                                                        Observaciones Subsanadas?
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="txtUsuarioControl" class="text-small">Usuario que asignó el útimo estado situacional al registro</label>
                                            @Html.EditorFor(m => m.txtUsuarioControl, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="ddlODRegistroId" class="text-small">O.D. desde donde registra la información</label>
                                            @Html.DropDownListFor(m => m.ddlODRegistroId, new SelectList(Model.ddlODRegistro, "Value", "Text"), new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="table-responsive">
                                            <table id="tbThabilitante" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="6" class="text-sm-left">
                                                            <div class="form-inline">
                                                                <i id="btnAgregarTH" class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                                                                <strong>Selecione el/los título(s) habilitante(s)</strong>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>N°</th>
                                                        <th>Modalidad</th>
                                                        <th>Nro THabilitante</th>
                                                        <th>Titular</th>
                                                        <th>Región</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header text-small">
                                        @Model.tituloInformeRecomendacion
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtNumInfAprob" id="lblNumInfAprob" class="text-small">Número de Informe que recomendó la aprobación del PGMF</label>
                                                @Html.EditorFor(m => m.txtNumInfAprob, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "N° informe", maxlength = "150" } })
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="txtFechaAprobacionInf" class="text-small">Fecha de aprobacion del informe</label>
                                                @Html.EditorFor(m => m.txtFechaAprobacionInf, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/yyyy", maxlength = "10" } })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtProfesionalRecomendo" id="lblProfesional" class="text-small">Profesional que recomendó la aprobación del PGMF</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i id="btnProfesional" class="fa fa-search-plus" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Seleccionar profesional"></i></span>
                                                    </div>
                                                    @Html.EditorFor(m => m.txtProfesionalRecomendo, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled" } })
                                                    @Html.HiddenFor(m => m.hdtxtProfesionalRecomendo)
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="txtConsultorElaboro" id="lblConsultor" class="text-small">Consultor/Regente que elaboró del PGMF</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i id="btnConsultor" class="fa fa-search-plus" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Seleccionar consultor/regente"></i></span>
                                                    </div>
                                                    @Html.EditorFor(m => m.txtConsultorElaboro, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled" } })
                                                    @Html.HiddenFor(m => m.hdtxtConsultorElaboro)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtNumAFFS" class="text-small">Número de registro en la AFFS</label>
                                                @Html.EditorFor(m => m.txtNumAFFS, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "N° de registro AFFS", maxlength = "150" } })
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="txtNumCIP" class="text-small">Número CIP</label>
                                                @Html.EditorFor(m => m.txtNumCIP, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "N° CIP", maxlength = "150" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="navDatosAdic" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="txtNumResolucion" class="text-small">Número de Resolución de aprobación</label>
                                            @Html.EditorFor(m => m.txtNumResolucion, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "N° de Resolución de aprobación", maxlength = "200" } })
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="txtFechaAprobacion" class="text-small">Fecha</label>
                                            @Html.EditorFor(m => m.txtFechaAprobacion, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/aaaa", maxlength = "10" } })
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="txtFuncionarioFirma" id="lblFuncionarioFirma" class="text-small">Funcionario que firma la resolución</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i id="btnFuncionarioFirma" class="fa fa-search-plus" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i></span>
                                                </div>
                                                @Html.EditorFor(m => m.txtFuncionarioFirma, new { htmlAttributes = new { @class = "form-control form-control-sm", disabled = "disabled" } })
                                                @Html.HiddenFor(m => m.hdtxtFuncionarioFirma)
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">

                                            <label for="ddlDependenciaId" class="text-small">Dependencia donde se aprobo</label>
                                            @Html.DropDownListFor(m => m.ddlDependenciaId, new SelectList(Model.ddlDependencia, "Value", "Text"), new { @class = "form-control form-control-sm" })

                                        </div>
                                    </div>
                                    @if (Model.esPMFI == 0)
                                    {
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label" for="chckprimerQuinquenio">Quinquenios del PGMF:</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.chckprimerQuinquenio, new { @class = "form-check-input" })
                                                    <label class="form-check-label" for="chckprimerQuinquenio">Primer Quinquenio</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.chckSegundoQuinquenio, new { @class = "form-check-input" })
                                                    <label class="form-check-label" for="chckSegundoQuinquenio">Segundo Quinquenio</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.chckTercerQuinquenio, new { @class = "form-check-input" })
                                                    <label class="form-check-label" for="chckTercerQuinquenio">Tercer Quinquenio</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    @Html.CheckBoxFor(m => m.chckCuartoQuinquenio, new { @class = "form-check-input" })
                                                    <label class="form-check-label" for="chckCuartoQuinquenio">Cuarto Quinquenio</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtBloques" class="text-small">Número de bloques quinquenales</label>
                                                @Html.EditorFor(m => m.txtBloques, new { htmlAttributes = new { @class = "form-control form-control-sm", maxlength = "7", onkeypress = "return utilSigo.onKeyEntero(event, this);" } })
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="txtAreaPGMF" class="text-small">Área del PGMF</label>
                                                @Html.EditorFor(m => m.txtAreaPGMF, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Área", maxlength = "12", onkeypress = "return utilSigo.onKeyDecimal(event, this);" } })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtPeriodo" class="text-small">Periodo del PGMF / Años</label>
                                                @Html.EditorFor(m => m.txtPeriodo, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Periodo en años", maxlength = "7", onkeypress = "return utilSigo.onKeyEntero(event, this);" } })
                                            </div>
                                            <div class="col-md-6 mb-3">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-3">
                                                <label for="txtFechaIncioPeriodo" class="text-small">Fecha inicio</label>
                                                @Html.EditorFor(m => m.txtFechaIncioPeriodo, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/aaaa", maxlength = "10" } })
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label for="txtFechaTerminoPeriodo" class="text-small">Fecha de término</label>
                                                @Html.EditorFor(m => m.txtFechaTerminoPeriodo, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/aaaa", maxlength = "10" } })
                                            </div>
                                        </div>
                                    }
                                    <div class="form-row">
                                        <div class="table-responsive">
                                            <table id="tbEspecies" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="8" class="text-sm-left">
                                                            <div class="form-inline">
                                                                <strong>Especies aprobadas</strong>
                                                                <i id="btnNuevoEspecie" class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                                                                <i class="fa mx-2 fa-lg fa-window-close-o" style="cursor:pointer;" onclick="ManPM.fnDeleteEspecieAprobadaAll();" data-toggle="tooltip" data-placement="top" title="Eliminar Todo"></i>
                                                                <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Excel" data-toggle="tooltip">
                                                                    <input id="fileEspecieAprobada" type="file" style="display:none" size="60" onchange="ManPM.fnImportarEspecieAprobada(event, this);" onclick="ManPM.fnValidarBloque();">
                                                                </label>
                                                                <a href="@Url.Content("~/Archivos/Plantilla/EspeciesAprobadas.xlsx")"> <i class="fa mx-2 fa-lg fa-folder-open" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla Excel"></i></a>
                                                                <i class="fa mx-2 fa-lg fa-download" style="cursor:pointer;" onclick="ManPM.exportarExcel('ESPECIE');" data-toggle="tooltip" data-placement="top" title="Descargar Especies Aprobadas"></i>
                                                                <strong>Especies aprobadas</strong>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>N°</th>
                                                        <th>Especies</th>
                                                        <th>N° Árboles</th>
                                                        <th>Volumnen (m³)</th>
                                                        <th>Bloque</th>
                                                        <th>Tipo de aprovechamiento</th>
                                                        <th>UM</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-row">
                                        <div class="table-responsive">
                                            <table id="tbCoordenadas" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="6" class="text-sm-left">
                                                            <div class="form-inline">
                                                                 <i id="btnNuevoCoordenada" class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                                                                <i class="fa mx-2 fa-lg fa-window-close-o" style="cursor:pointer;" onclick="ManPM.fnDeleteCoordenadaAll();" data-toggle="tooltip" data-placement="top" title="Eliminar Todo"></i>
                                                                <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Excel" data-toggle="tooltip">
                                                                    <input id="fileCoordenada" type="file" style="display:none" size="60" onchange="ManPM.fnImportarCoordenada(event, this);">
                                                                </label>
                                                                <a href="@Url.Content("~/Archivos/Plantilla/VerticesPMForestal.xlsx")"> <i class="fa mx-2 fa-lg fa-folder-open" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla Excel"></i></a>
                                                                <i class="fa mx-2 fa-lg fa-download" style="cursor:pointer;" onclick="ManPM.exportarExcel('COORDENADAS');" data-toggle="tooltip" data-placement="top" title="Descargar Coordenadas"></i>
                                                                <strong>Coordenadas</strong>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>N°</th>
                                                        <th>Vertice</th>
                                                        <th>Coordenada Este</th>
                                                        <th>Coordenada Norte</th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-row">
                                        <div class="table-responsive">
                                            <table id="tbEspeciesFauna" class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="6" class="text-sm-left">
                                                            <div class="form-inline">
                                                                <i id="btnNuevoEspecieFS" class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                                                                <i class="fa mx-2 fa-lg fa-window-close-o" style="cursor:pointer;" onclick="ManPM.fnDeleteEspecieFSAll();" data-toggle="tooltip" data-placement="top" title="Eliminar Todo"></i>
                                                                <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Excel" data-toggle="tooltip">
                                                                    <input id="fileEspecieFS" type="file" style="display:none" size="60" onchange="ManPM.fnImportarEspecieFS(event, this);">
                                                                </label>
                                                                <a href="@Url.Content("~/Archivos/Plantilla/EspeciesFS.xlsx")"> <i class="fa mx-2 fa-lg fa-folder-open" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla Excel"></i></a>
                                                                <i class="fa mx-2 fa-lg fa-download" style="cursor:pointer;" onclick="ManPM.exportarExcel('FAUNA');" data-toggle="tooltip" data-placement="top" title="Descargar Especies Fauna Silvestre"></i>
                                                                <strong>Especies Fauna Silvestre</strong>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>N°</th>
                                                        <th>Especies</th>
                                                        <th>Grado de amenaza</th>
                                                        <th>Observaciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-row">
                                        <div class="col-md-6 mb-2">
                                            <div class="form-check">
                                                @Html.CheckBoxFor(m => m.chckConsolidad, new { @class = "form-check-input", value = false })
                                                <label class="form-check-label text-small" for="chckConsolidad">
                                                    Se aprobó la consolidacion de títulos habilitantes
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-2">
                                            <label for="txtNomConsolidad" class="text-small"> </label>
                                            @Html.EditorFor(m => m.txtNomConsolidad, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Nombre del consolidado", maxlength = "150" } })
                                        </div>
                                        <div class="col-md-6 mb-2">

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-2">
                                            <label for="txtObservacion" class="text-small">Observaciones</label>
                                            @Html.TextAreaFor(m => m.txtObservacion, new { @class = "form-control form-control-sm", rows = 2 })
                                        </div>
                                    </div>

                                    <div class="card-header text-small">Archivos cargados en el SIADO</div>
                                    <div class="form-row">
                                        @{ string codEnv = Model.hdfManCOD_PGMF;}
                                        @{ Html.RenderAction("_IntegracionSIADO", "Controles", new { area = "GENERAL", asCriterio = "SUBTIP_TITDOCSIGO", asSubCriterio = "0003", asValor = codEnv });}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @* Para el control genérico de personas *@
    <div class="modal fade hide" id="mdlBuscarPersona" role="dialog"></div>
    <div class="modal fade hide" id="modalAddEditPersona" role="dialog"></div>
    <div class="modal fade hide" id="personaUbigeoModal" role="dialog"></div>
</div>
<div class="modal fade" id="modalEspeciePM" role="dialog"></div>
<div class="modal fade" id="modalCoordenadaPM" role="dialog"></div>
<div class="modal fade" id="modalEspecieFSPM" role="dialog"></div>
<div class="modal fade" id="modalTHabilitantePM" role="dialog"></div>
<div class="modal fade" id="modalPersonaBuscarPM" role="dialog"></div>
<script src="~/Areas/THabilitante/js/ManPlanManejoForestal/AddEdit.js"></script>
