
@{
    ViewBag.Title = "viewReporte1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Styles/Proyectos/reporteEstadisticas.min.css" rel="stylesheet" />
<script src="~/Scripts/chart/Chart.min.js"></script>
<script src="~/Scripts/chart/custom.js"></script>

<script>
    $(document).ready(function () {
        $("#btnReporte").on("click", function () {
            if (ItemValidarFiltrosBusqueda()) {
                $("#cnvReporteEst1").remove();
                $("#dvChartReporteEst1").append("<canvas id='cnvReporteEst1'></canvas>");

                $.ajax({
                    url: '@Url.Action("generaReporte1","Estadisticos")',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'busAnio': ObtenerListaAnio(),
                        'busRegion': ObtenerListaRegiones()
                    }),
                    success: function (data) {
                        $(".resultadoRpt1").show();
                        var subTitulo = "Principales especies forestales maderables aprobadas";
                        $("#subTituloReport1>h3").text(subTitulo);
                        var i = 0;
                        $("#tbReportEst1>tbody").empty();
                        $(data).each(function () {
                            $("#tbReportEst1>tbody").append("<tr><td>" + (++i) + "</td><td>" + $(this)[0] + "</td><td>" + agregarSeparador(parseFloat($(this)[1].toFixed(3)).toString(), ',') + "</td></tr>");
                        });

                        customChart.LoadBarraSimple(data, 0, { colIndex: [1], color: ["blue"], legend: ["Volumen Autorizado (m³)"] }, { type: "H", title: "", legend: false, xTitle: "Volumen Autorizado (m³)", yTitle: "Nombre Científico", canvas: "cnvReporteEst1" });
                        unloader();
                    },
                    beforeSend: function () {
                        loader();
                    },
                    error: function () {
                        unloader();
                    }
                });
            }
        });
    });
</script>

<div class="contenedorReporte">
    <div class="filtroReporte">
        <div class="toolsLista">
            <div class="navLista">
                <a href="@Url.Action("Index","Home")" title="Volver al Inicio"><span class="icon-arrow-back"></span><span>Volver al Inicio</span></a>
            </div>
            <div class="tituloLista">
                <h2>Principales especies forestales maderables aprobadas</h2>
            </div>
        </div>
        @Html.Partial("Controles/_MasterFiltro")
        <div class="divbtnReporte">
            <input id="btnReporte" type="button" value="Generar Reporte" class="btnBotonFormSIGO" />
        </div>
    </div>
    <div class="informacionReporte">
        <h3 style="margin:0px;">¿Qué contiene este reporte?</h3>
        <ul style="padding-left:15px;margin-top:5px;margin-bottom:5px;">
            <li><p>Muestra las diez (10) especies forestales maderables con mayor volumen aprobado (m³) por la Autoridad Regional Forestal y de Fauna Silvestre (ARFFS) respectiva; en base a los planes de manejo para aprovechamiento maderable remitidos al OSINFOR.</p></li>
            <li><p>Incluye opciones de búsqueda de acuerdo al año de aprobación del plan de manejo y a los departamentos seleccionados. Su actualización estará sujeta a la remisión de la información por la ARFFS.</p></li>
        </ul>
    </div>
    <div class="resultadoReporte resultadoRpt1" style="display:none;">
        <div id="subTituloReport1" class="subTituloReport">
            <h3></h3>
        </div>
        <div class="bloqueResultado">
            <div class="bloqueResultado2" style="margin-right:5px;">
                <div class="GrillaDivMarco">
                    <table id="tbReportEst1" class="Grilla" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nombre Científico</th>
                                <th>Volumen Autorizado (m³)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="bloqueResultado2" style="margin-left:5px;">
                <div id="dvChartReporteEst1"></div>
            </div>
        </div>
    </div>
    <div class="informacionReporte resultadoRpt1" style="display:none;">
        <ul style="padding-left:20px;margin-top:5px;margin-bottom:5px;">
            <li style="margin-top:10px;"><strong>Actualizado al: </strong>@ViewBag.fechaProcess</li>
            <li><strong>Fecha y Hora de Consulta:</strong> @DateTime.Now</li>
        </ul>
    </div>
</div>