@model CapaEntidad.ViewModel.VM_Resodirec
<script type="text/javascript">
    var _renderInicioPau = {};
    _renderInicioPau.tbEliTABLA = [];
    _renderInicioPau.tbEliTABLAInfraccion = [];

    _renderInicioPau.fncbuscaExpAllanamiento = function () {
        var url = urlLocalSigo + "General/Controles/_ConsultaSITD";
        var option = { url: url, datos: { op: "DOC_ENTRADA" }, type: 'GET', divId: 'modalBuscarInicioPAU' };
        utilSigo.fnOpenModal(option, function () {
            _cSITD.fnAsignarDatos = function (obj) {
                if (obj != null && obj != "") {
                    var data = _cSITD.dt.row($(obj).parents('tr')).data();
                    _renderInicioPau.fnAsignarSTID(data, "DOC_ENTRADA");
                }
            }
            _cSITD.fnInit();
        });
    };

    _renderInicioPau.fnAsignarSTID = function (data, op) {
        if (op == "DOC_ENTRADA") {
            var model = {

                'CODIGO': data.cCodificacion,
                'NUMERO': data.cNroDocumento,
                'TIPO_DOCUMENTO': data.cDescTipoDoc,
                'PDF_DOCUMENTO': data.PDF_TRAMITE_SITD,
                'RegEstado': 1
            };
            console.log(model);
            _renderInicioPau.dtAllanamientoInicioPAU.rows.add([model]).draw();
            _renderInicioPau.dtAllanamientoInicioPAU.page('last').draw('page');
        }
        utilSigo.toastSuccess("", "Se selecciono correctamente el documento");
        utilSigo.fnCloseModal("modalBuscarInicioPAU");
    }

    _renderInicioPau.fncbuscaExpSubsanacion = function () {
        var url = urlLocalSigo + "General/Controles/_ConsultaSITD";
        var option = { url: url, datos: { op: "DOC_ENTRADA" }, type: 'GET', divId: 'modalBuscarInicioPAU' };
        utilSigo.fnOpenModal(option, function () {
            _cSITD.fnAsignarDatos = function (obj) {
                if (obj != null && obj != "") {
                    var data = _cSITD.dt.row($(obj).parents('tr')).data();
                    _renderInicioPau.fnAsignarSTID02(data, "DOC_ENTRADA");
                }
            }
            _cSITD.fnInit();
        });
    };

    _renderInicioPau.fnAsignarSTID02 = function (data, op) {
        if (op == "DOC_ENTRADA") {
            var model = {

                'CODIGO': data.cCodificacion,
                'NUMERO': data.cNroDocumento,
                'TIPO_DOCUMENTO': data.cDescTipoDoc,
                'PDF_DOCUMENTO': data.PDF_TRAMITE_SITD,
                'RegEstado': 1
            };
            console.log(model);
            _renderInicioPau.dtSubsanacionInicioPAU.rows.add([model]).draw();
            _renderInicioPau.dtSubsanacionInicioPAU.page('last').draw('page');
        }
        utilSigo.toastSuccess("", "Se selecciono correctamente el documento");
        utilSigo.fnCloseModal("modalBuscarInicioPAU");
    }

    _renderInicioPau.fncArticulos = function () {
        var idArticulo = _renderInicioPau.frm.find("#ddlArticuloId").val();
        var DescArticulo = _renderInicioPau.frm.find("#ddlArticuloId option:selected").text();
        $.ajax({
              url: '@Url.Action("_inicisos","ManResolucion")',
              type: 'GET',
                 datatype: "json",
                 traditional: true,
                 data: {'idArticulo' :   idArticulo, 'descArticulo': DescArticulo},
                 success: function (data) {
                        $("#divEncisosFI").html(data);
                 }
        });
    }

    _renderInicioPau.fnGetListAllanamiento = function () {
        let list = [], rows, countFilas, data;
        rows = _renderInicioPau.dtAllanamientoInicioPAU.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            $.each(rows, function (i, o) {
                data = _renderInicioPau.dtAllanamientoInicioPAU.row($(o)).data();
                list.push(utilSigo.fnConvertArrayToObject(data));
            });
        }
        return list;
        console.log(list.length);
    }

    _renderInicioPau.fnGetListSubsanacion = function () {
        let list = [], rows, countFilas, data;
        rows = _renderInicioPau.dtSubsanacionInicioPAU.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            $.each(rows, function (i, o) {
                data = _renderInicioPau.dtSubsanacionInicioPAU.row($(o)).data();
                list.push(utilSigo.fnConvertArrayToObject(data));
            });
        }
        return list;
    }

    _renderInicioPau.fnGetListInfraccion = function () {
        let list = [], rows, countFilas, data;
        rows = _renderInicioPau.dtRenderListInforme.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            $.each(rows, function (i, o) {
                data = _renderInicioPau.dtRenderListInforme.row($(o)).data();
                list.push(utilSigo.fnConvertArrayToObject(data));
            });
        }
        return list;
    }

    var descargarTramite = function (row) {
        var urlSITD = 'https://sitd.osinfor.gob.pe:8443/std/cInterfaseUsuario_SITD/download.php?direccion=sitd-almacen&file=' + row.PDF_DOCUMENTO;
        window.open(urlSITD, "_blank");
    };

    _renderInicioPau.fnDeleteAllanamiento = function (obj) {
        var data = _renderInicioPau.dtAllanamientoInicioPAU.row($(obj).parents('tr')).data();
        if (data["RegEstado"] == "0") {
            _renderInicioPau.tbEliTABLA.push({
                EliTABLA: "RESODIREC_DET_ACCION",
                EliVALOR01: data["COD_RDACCION"]
            });
        }
        _renderInicioPau.dtAllanamientoInicioPAU.row($(obj).parents('tr')).remove().draw(false);
    }

    _renderInicioPau.fnDeleteSubsanacion = function (obj) {
        var data = _renderInicioPau.dtSubsanacionInicioPAU.row($(obj).parents('tr')).data();
        if (data["RegEstado"] == "0") {
            _renderInicioPau.tbEliTABLA.push({
                EliTABLA: "RESODIREC_DET_ACCION",
                EliVALOR01: data["COD_RDACCION"]
            });
        }
        _renderInicioPau.dtSubsanacionInicioPAU.row($(obj).parents('tr')).remove().draw(false);
    }

    _renderInicioPau.fnDeleteInfraccion = function (obj) {
        var data = _renderInicioPau.dtRenderListInforme.row($(obj).parents('tr')).data();
        if (data["RegEstado"] == "0") {
            data["ESTADO"] = 0;
            _renderInicioPau.tbEliTABLAInfraccion.push(data);
        }
        _renderInicioPau.dtRenderListInforme.row($(obj).parents('tr')).remove().draw(false);
    }

    _renderInicioPau.fnInitDataTableAllanamiento = function () {
        var columns_label = [], columns_data = [], options = {}, data_extend = [];;

        columns_label = ["Codigo", "Num. Documento", "Tipo Documento"];
        columns_data = ["CODIGO", "NUMERO", "TIPO_DOCUMENTO"];
        data_extend = [
            {
                render: function (data, type, row) {
                    return "<a href='#' data-toggle='tooltip' data-placement='top'  onClick='descargarTramite(" + JSON.stringify(row) + ")' > Descargar</a>";
                }, title: "Descargar"
            }
        ]
        options = {
            page_length: 10, row_index: true, row_delete: true, row_fnDelete: "_renderInicioPau.fnDeleteAllanamiento(this)", page_sort: true,
            data_extend: data_extend
        };

        _renderInicioPau.dtAllanamientoInicioPAU = utilDt.fnLoadDataTable_Detail(_renderInicioPau.frm.find("#tbAllanamientoInicioPAU"), columns_label, columns_data, options);
        _renderInicioPau.dtAllanamientoInicioPAU.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model.ListSTD01))')).draw();
    }

    _renderInicioPau.fnInitDataTableSubsanacion = function () {
        var columns_label = [], columns_data = [], options = {}, data_extend = [];;

        columns_label = ["Codigo", "Num. Documento", "Tipo Documento"];
        columns_data = ["CODIGO", "NUMERO", "TIPO_DOCUMENTO"];
        data_extend = [
            {
                render: function (data, type, row) {
                    return "<a href='#' data-toggle='tooltip' data-placement='top'  onClick='descargarTramite(" + JSON.stringify(row) + ")' > Descargar</a>";
                }, title: "Descargar"
            }
        ]
        options = {
            page_length: 10, row_index: true, row_delete: true, row_fnDelete: "_renderInicioPau.fnDeleteSubsanacion(this)", page_sort: true,
            data_extend: data_extend
        };

        _renderInicioPau.dtSubsanacionInicioPAU = utilDt.fnLoadDataTable_Detail(_renderInicioPau.frm.find("#tbSubsanacionInicioPAU"), columns_label, columns_data, options);
        _renderInicioPau.dtSubsanacionInicioPAU.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model.ListSTD02))')).draw();
    }

    _renderInicioPau.fnInitDataTable_ListIncisos = function () {
        var columns_label = [], columns_data = [], options = {};

        columns_label = ["Codigo", "Articulo", "Inciso"];
        columns_data = ["COD_ENCISOS", "ARTICULO", "INCISO"];
        options = {
            page_length: 10, row_index: true, row_delete: true, row_fnDelete: "_renderInicioPau.fnDeleteInfraccion(this)", page_sort: true
        };
        _renderInicioPau.dtRenderListInforme = utilDt.fnLoadDataTable_Detail(_renderInicioPau.frm.find("#tbRenderListIncisos"), columns_label, columns_data, options);
        _renderInicioPau.dtRenderListInforme.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model.listaInfracciones))')).draw();
    }

    $(document).ready(function () {
        _renderInicioPau.frm = $("#fmrRDInicio");
        _renderInicioPau.fnInitDataTableAllanamiento();
        _renderInicioPau.fnInitDataTableSubsanacion();
        _renderInicioPau.fnInitDataTable_ListIncisos();
    });
</script>
<div id="fmrRDInicio">
    <div><br /></div>

    <div class="form-row">
        <div class="col-md-12"><br /><br /></div>
        <div class="form-group col-md-6">
            <label for="txtNumExp" class="text-small">N° Expediente asignado</label>
            @Html.EditorFor(m => m.txtNumeroExpediente, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "Expediente Administrativo" } })
        </div>
        <div class="form-group col-md-2">
            <br />
            <button type="button" id="btnExpediente" class="btn btn-info btn-sm" onclick="ManRD_AddEdit.fnGenerarNumeracion()">Generar</button>
        </div>
        <div class="form-group col-md-4">
            <label for="lblSolAntecedente" class="text-small">Solicitud de Antecedentes del titular</label>
            <div style="margin-top:7px;">
                <div class="form-check form-check-inline">
                    @Html.CheckBoxFor(m => m.chkSolAntecedente, new { @class = "form-check-input", style = "width:15px;height:16px;" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lblExtitular" class="text-small">Iniciar PAU al ex-titular</label>
            <div style="margin-top:7px;">
                <div class="form-check form-check-inline">
                    @Html.CheckBoxFor(m => m.chkSancionExTitular, new { @class = "form-check-input", style = "width:15px;height:16px;" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="lblTitularSancion" class="text-small texto-recortado">Titular al que se inicia PAU<i class="fa fa-cog fa-spin text-danger" id="iconRLegalCodigo" style="display:none;" data-toggle="tooltip" data-placement="top" title="Seleccione titular"></i></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-plus" style="cursor:pointer;" onclick="ManRD_AddEdit.fnBuscarPersona('TITULAR', 'N');" data-toggle="tooltip" data-placement="top" title="Agregar"></i></span>
                </div>
                @Html.EditorFor(m => m.txtTitular, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                <input type="hidden" id="hdTipoTitular" />

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lblTerceroSolidario" class="text-small texto-recortado">Tercero solidario<i class="fa fa-cog fa-spin text-danger" id="iconTerceroSolidario" style="display:none;" data-toggle="tooltip" data-placement="top" title="Seleccione tercero"></i></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-plus" style="cursor:pointer;" onclick="ManRD_AddEdit.fnBuscarPersona('TERCERO', 'N');" data-toggle="tooltip" data-placement="top" title="Agregar"></i></span>
                </div>
                @Html.EditorFor(m => m.txtTerceroSolidario, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                <input type="hidden" id="hdTipoTercero" />
            </div>
        </div>
    </div>
    <!--Medidas Cautelares-->
    <div id="divMedCaut">
        @Html.Partial("~/Areas/Fiscalizacion/Views/ManResolucion/_Shared/_generic/_renderMedCaut.cshtml", Model)
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkBalance" class="text-small">Solicitud de Balance de extracción para medidas cautelares</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkSolBalance, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkCausales" class="text-small">Con causales de caducidad</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkCausalesCaducidad, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkInfFalsaInex" class="text-small">Información Falsa - Inexistencia de Especies</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkInfFalsaInex, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkInfFalsaEsp" class="text-small">Información Falsa - Diferencia de Especies</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkInfFalsaDif, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkInfFalsaDas" class="text-small">Información Falsa - Sobreestimacióin de Medidas Dasométricas</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkInfFalsaDas, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="txtDescFalsa" class="text-small">Descripción Información falsa</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextAreaFor(m => m.txtDescInfFalsa, 4, 1, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div id="divInfracciones">
        @Html.Partial("~/Areas/Fiscalizacion/Views/ManResolucion/_Shared/_generic/_renderInfracciones.cshtml", Model)
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="chkNoExisteAprovechamiento" class="text-small">No existe aprovechamiento forestal en el Área Autorizada</label>
        </div>
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(m => m.chkNoExisteAprovechamiento, new { @class = "form-check-input", style = "width:15px;height:16px;" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div id="divMandatos">
        @Html.Partial("~/Areas/Fiscalizacion/Views/ManResolucion/_Shared/_generic/_renderMandato.cshtml", Model)
    </div>
    <!--Acciones-->
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="card-header text-small">Acciones</div>
            <br />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="lblAllanamiento" class="text-small">Allanamiento de responsabilidad</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button style="font-size:11px !important;" onclick="_renderInicioPau.fncbuscaExpAllanamiento()" class="btn btn-primary " type="button"><i class="fa fa-search"></i>&nbsp;Buscar Expdiente en SITD</button>
            <br />
            <table id="tbAllanamientoInicioPAU" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" class="text-sm-left">
                            <div class="form-inline">
                                <strong>Lista de expedientes de SITD</strong>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="lblSubsanacion" class="text-small">Subsanación voluntaria</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button style="font-size:11px !important;" onclick="_renderInicioPau.fncbuscaExpSubsanacion()" class="btn btn-primary " type="button"><i class="fa fa-search"></i>&nbsp;Buscar Expdiente en SITD</button>
            <br />
            <table id="tbSubsanacionInicioPAU" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="6" class="text-sm-left">
                            <div class="form-inline">
                                <strong>Lista de expedientes de SITD</strong>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="card-header text-small">Infracciones subsanadas</div>
            <br />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="lblArticulo" class="text-small">Artículo</label>
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownListFor(m => m.ddlArticuloId, new SelectList(Model.listaArticulos, "Value", "Text"), new { @class = "form-control form-control-sm", @onchange = "_renderInicioPau.fncArticulos()" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12" id="divEncisosFI">
            <label for="lblInciso" class="text-small">Inciso</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="table-responsive">
                <table id="tbRenderListIncisos" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th colspan="6" class="text-sm-left">
                                <div class="form-inline">
                                    <strong> Infracciones subsanadas</strong>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hide" id="modalBuscarInicioPAU" tabindex="-1" role="dialog"></div>
