
<script src="~/Areas/Supervision/js/ManInformeExSitu/_ControlPlaga.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Control de Plaga</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemControlPlaga">
                @Html.Hidden("hdfRegEstado")
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlPlagaId" class="text-small">Plaga</label>
                        @Html.DropDownList("ddlPlagaId", new SelectList(ViewBag.ddlPlaga, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFrecuencia" class="text-small">Frecuencia</label>
                        @Html.TextBox("txtFrecuencia", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtMetFisico" class="text-small">Método Físico</label>
                        @Html.TextArea("txtMetFisico", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtMetQuimico" class="text-small">Método Químico</label>
                        @Html.TextArea("txtMetQuimico", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_ControlPlaga.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
