
<script src="~/Areas/Supervision/js/ManInformeExSitu/_GrupoTaxonomico.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Dieta</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemGrupoTaxonomico">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlTipoTaxonomicoId" class="text-small">Grupo Taxonómico</label>
                        @Html.DropDownList("ddlTipoTaxonomicoId", new SelectList(ViewBag.ddlTipoTaxonomico, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtGrupo" class="text-small">Grupo/Especie</label>
                        @Html.TextBox("txtGrupo", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtTipoAlimentacion" class="text-small">Tipo de Alimentación</label>
                        @Html.TextBox("txtTipoAlimentacion", "", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFrecRacion" class="text-small">Frecuencia de la Ración</label>
                        @Html.TextBox("txtFrecRacion", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_GrupoTaxonomico.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
