@model CapaEntidad.ViewModel.VM_FlujoFiscalizacion
@{
    ViewBag.Title = ViewBag.TituloFormulario;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Areas/General/js/ReporteFlujoFiscalizacion/Index.js"></script>

<div class="container-fluid" id="frmRptFlujoFiscalizacion">
    @Html.HiddenFor(m => m.idTab)
    @Html.HiddenFor(m => m.txtnomconsulta)
    <div class="card">
        <div class="card-header text-left">
            <h5>Reporte de Seguimiento</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link" id="hrenavDFFFS" data-toggle="tab" href="#navDFFFS" role="tab" aria-controls="home" aria-selected="true">Datos DFFFS</a></li>
                        <li class="nav-item"><a class="nav-link" id="hrefnavSubdireccion" data-toggle="tab" href="#navSubdireccion" role="tab" aria-controls="home" aria-selected="true">Datos Subdirección</a></li>
                        <li class="nav-item"><a class="nav-link" id="hrefnavMAPRO" data-toggle="tab" href="#navMAPRO" role="tab" aria-controls="home" aria-selected="true">Indicador MAPRO</a></li>
                        <li class="nav-item"><a class="nav-link" id="hrefnavPEI" data-toggle="tab" href="#navPEI" role="tab" aria-controls="home" aria-selected="true">Indicador PEI</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="navDFFFS" role="tabpanel" aria-labelledby="nav-home-tab">
                            @Html.Partial("~/Areas/General/Views/ReporteFlujoFiscalizacion/_Shared/_renderDFFFS.cshtml", Model)
                        </div>
                        <div class="tab-pane" id="navSubdireccion" role="tabpanel" aria-labelledby="nav-home-tab">
                            @Html.Partial("~/Areas/General/Views/ReporteFlujoFiscalizacion/_Shared/_renderSubdireccion.cshtml", Model)
                        </div>
                        <div class="tab-pane" id="navMAPRO" role="tabpanel" aria-labelledby="nav-home-tab">
                            @Html.Partial("~/Areas/General/Views/ReporteFlujoFiscalizacion/_Shared/_renderMAPRO.cshtml", Model)
                        </div>
                        <div class="tab-pane" id="navPEI" role="tabpanel" aria-labelledby="nav-home-tab">
                            @Html.Partial("~/Areas/General/Views/ReporteFlujoFiscalizacion/_Shared/_renderPEI.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

