
<div id="divTbResumen" style="width: 100%; overflow: auto; scrollbar-base-color: none;">
    <table id="tbListResumen" class="table table-bordered table-striped-success" style="width: 100% !important; font-size:12px">
        <thead>
            <tr style=" text-align: center;  background-color: #dae7f5">
                <td style="width: 2%">N°</td>
                <td style="width: 15%">Modalidad</td>
                <td style="width: 5%">ATALAYA</td>
                <td style="width: 5%">CHICLAYO</td>
                <td style="width: 5%">IQUITOS</td>
                <td style="width: 5%">LA MERCED</td>
                <td style="width: 5%">PUCALLPA</td>
                <td style="width: 5%">PUERTO MALDONADO</td>
                <td style="width: 5%">TARAPOTO</td>
                <td style="width: 5%">SEDE CENTRAL</td>
                <td style="width: 5%">Total</td>
            </tr>
        </thead>
        <tbody id="bodyTable">
            @if (Model.list_consolidado_PDC != null)
            {
                var count = 0;
                foreach (var item in Model.list_consolidado_PDC)
                {
                    <tr>
                        <td style="width: 2%">@(++count)</td>
                        <td style="width: 5%">@item.MODALIDAD</td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('ATALAYA', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:14px !important;">@item.ATALAYA</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('CHICLAYO', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.CHICLAYO</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('IQUITOS', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.IQUITOS</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('LA MERCED', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.LA_MERCED</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('PUCALLPA', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.PUCALLPA</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('PUERTO MALDONADO', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.PUERTO_MALDONADO</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('TARAPOTO', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.TARAPOTO</a>
                        </td>
                        <td style="width: 5%; text-align:center;">
                            <a href="#" onclick="_rendReporteConsolidadoPDC.fnReporteDetalle('SEDE CENTRAL', '@item.COD_MODALIDAD')" style="cursor:pointer; font-size:12px !important;">@item.SEDE_CENTRAL</a>
                        </td>

                        <td style="width: 5%; text-align:center;">@item.TOTAL</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <br />
    Criterios para la priorizacion
    <ol>
        <li>PASPEQ (3 PUNTOS)</li>
        <li>SSE (1 punto)</li>
        <li>PEI Riesgo (TH que representan riesgo para el comercio legal) </li>
        <li>PEI CCNN y CCCC (TH en CCNN o CCCC buscar por Modalidad) (2 puntos)</li>
        <li>Mecanismos conservación (1 punto) </li>
        <li> Mecanismo de restauración >= 2UIT (1 punto)</li>
    </ol>

    Nota: se considera capcitable si la suma de los criterios es >= 1
    <br />
</div>
