
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@Scripts.Render("~/bundles/_Mangrilla")
@Scripts.Render("~/bundles/ManDevolucionMadera/Index")
@section scripts{
    <script>
        "use strict";
        $(document).ready(function () {
            //Validamos el rol del usuario
            utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnManGrillaNuevo');
            });
    </script>
}

<div class="container-fluid" id="contenedorDevolucionMadera"
     data-request_url="@Url.Action("_ManGrilla", "Controles", new { Area= "General" })"
     data-request_formulario="@ViewBag.Formulario" data-request_titulo="@ViewBag.TituloFormulario">


</div>

<div class="modal fade hide" id="contenedorBuscarModalDM" tabindex="-1" role="dialog"></div>
<form style="display:none;" id="frmAddEditDM" method="post" action="">
    <input type="hidden" id="hdFormulario" name="hdFormulario" value="@ViewBag.Formulario" />

</form>