
@{
    ViewBag.Title = ViewBag.TituloFormulario;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Areas/THabilitante/js/ManVentanillaAntecedentesExpedientes/Index.js?v21"></script>

<div class="container-fluid">
    <div class="card">
        <div class="card-header text-left">
            <h5>@ViewBag.TituloFormulario</h5>
        </div>
        <div class="card-body">
            <form id="frmManGrillaPaging">
                @Html.Hidden("tipoFormulario", (object)ViewBag.Formulario)
                @Html.Hidden("titleMenu", (object)ViewBag.TituloFormulario)
                @Html.Hidden("alertaFormulario", (object)ViewBag.AlertaInicial)
                @Html.Hidden("hdMsjTransfer", (string)ViewBag.msjTransfer)
                @Html.Hidden("hdOrigen", (string)ViewBag.origen)
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOptBustarEstadoVentanillaId", (IEnumerable<SelectListItem>)ViewBag.ddlOptBustarEstadoVentanilla, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOpcionBuscarVentanillaId", (IEnumerable<SelectListItem>)ViewBag.ddlOpcionBuscarVentanilla, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control form-control-sm" id="txtValorBuscar" disabled="disabled" placeholder="Ingrese Valor a Buscar">
                    </div>
                    <div class="btn-group col-md-2" style="padding-top:5px;">
                        <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar el registro" onclick="anteExpedientes.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                        <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Actualizar el listado" onclick="anteExpedientes.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                        <a id="btnDownload" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar" onclick="anteExpedientes.fnExport()"><span class="fa mx-2 fa-lg fa-file-excel-o"></span></a>
                    </div>
                </div>
            </form>
            <div id="dvManGrillaPaging" class="table-responsive">
                <table id="tbManGrillaPaging" class="table table-hover table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="13" class="text-sm-left" style="background-color:#9ACDE8;"><strong>Expedientes que se registran desde el SITD</strong></th>
                            <th colspan="2" class="text-sm-center" style="background-color:#9ACDE8;"><strong>Acción</strong></th>
                            <th colspan="4" class="text-sm-center" style="background-color:#9ACDE8;"><strong>Opciones Transferidos</strong></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal Editar datos SITD-->
<div class="modal fade" id="mdEdit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
                <h5 class="modal-title" id="h5Titulo">Editar Datos SITD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmESITD">
                    <input type="hidden" id="RegEstado" name="RegEstado" value="2" />
                    <input type="hidden" id="COD_AEXPEDIENTE_SITD" name="COD_AEXPEDIENTE_SITD" />
                    <input type="hidden" id="COD_TRAMITE_SITD" name="COD_TRAMITE_SITD" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="txtItemVert_Vertice" class="text-small">Ant. Expediente SITD</label>
                            <input type="text" id="txtExpediente_SITD" class="form-control form-control-sm" disabled />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="COD_DREFERENCIA" class="text-small">Documento de Referencia</label>
                            @Html.DropDownList("COD_DREFERENCIA", new SelectList(ViewBag.DOC_ATFFS, "Value", "Text"), new { @class = "form-control form-control-sm" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="NUM_THABILITANTE" class="text-small">Nro. THabilitante</label>
                            <input type="text" id="NUM_THABILITANTE" name="NUM_THABILITANTE" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="RESOLUCION_POA" class="text-small">Resolución de Aprobación del Plan de Manejo</label>
                            <input type="text" id="RESOLUCION_POA" name="RESOLUCION_POA" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="OBSERVACION" class="text-small">Observaciones</label>
                            <textarea id="OBSERVACION" name="OBSERVACION" class="form-control form-control-sm" rows="2" maxlength="500" style="text-transform:uppercase"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnGuardar" class="btn btn-primary btn-sm" onclick="anteExpedientes.fnGuardarDatosSITD();">Grabar</button>
                <button id="btnCancelar" class="btn btn-secondary btn-sm" onclick="anteExpedientes.fnCloseModalSITD();">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Transferir-->
<div class="modal fade hide" id="transferirModal" role="dialog"></div>
