
<script src="~/Areas/Supervision/js/ManInforme/_CoberturaBoscosa.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Cobertura Boscosa</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemCoberturaBoscosa">
                @Html.Hidden("hdfRegEstadoCobBoscosa")              
                @Html.Hidden("hdfCodSecuencialCobBos")              
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlVerticeId" class="text-small">Actividad</label>
                        @Html.TextBox("txtActividad", "", new { @class = "form-control form-control-sm", maxlength = "300", onkeypress = "return utilSigo.checkLetter(event);" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtActividad" class="text-small">Área</label>
                        @Html.TextBox("txtArea", "", new { @class = "form-control form-control-sm", maxlength = "10", onblur = "return utilSigo.onBlurTwoDecimalIS(this,'Área');", onkeypress = "return utilSigo.onKeyDecimal(event, this);" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlZonaCampoId" class="text-small">Zona</label>
                        @Html.DropDownList("ddlZonaId", new SelectList(ViewBag.ddlZona, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlZonaCampoId" class="text-small">Autorizado</label>
                        @Html.TextBox("txtAutorizado", "", new { @class = "form-control form-control-sm", maxlength = "200", onkeypress = "return utilSigo.checkLetter(event);" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCoordEste" class="text-small">Coordenada Este</label>
                        @Html.TextBox("txtCoordEste", "", new { @class = "form-control form-control-sm", maxlength = "6", onkeypress = "return utilSigo.checkNum(event);" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCoordNorte" class="text-small">Coordenada Norte</label>
                        @Html.TextBox("txtCoordNorte", "", new { @class = "form-control form-control-sm", maxlength = "7", onkeypress = "return utilSigo.checkNum(event);" })
                    </div>
                </div>
                @*<div class="form-row">
            <div class="form-group col-md-6">
                <label for="txtCoordNorte" class="text-small">Coordenada Norte</label>
                @Html.TextBox("txtCoordNorte", "", new { @class = "form-control form-control-sm", maxlength = "7", disabled = "disabled", type = "number" })
            </div>
            <div class="form-group col-md-6">
                <label for="txtCoordNorteCampo" class="text-small">Coordenada Norte</label>
                @Html.TextBox("txtCoordNorteCampo", "", new { @class = "form-control form-control-sm", maxlength = "7", type = "number" })
            </div>
        </div>*@
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacionCampo" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "4", onkeypress = "return utilSigo.checkLetter(event);" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_CoberturaBoscosa.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
