
@model List<CapaEntidad.DOC.Ent_INFORME_MADERABLE>

<script type="text/javascript">
    var _DatosCampoMaderable = {};
    _DatosCampoMaderable.hdfNumPoa = '@ViewBag.hdfNumPoa';
    _DatosCampoMaderable.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};

        columns_label = ["POA", "Bloque", "Bloque Campo", "Faja", "Faja Campo", "Código", "Código Campo", "Especie", "Especie Campo"
            , "Coincide con la especie", "Zona UTM", "Zona UTM Campo", "C. Este", "C. Este Campo", "C. Norte", "C. Norte Campo"
            , "DAP (cm)", "DAP Campo (cm)", "DAP Campo 1 (cm)", "DAP Campo 2 (cm)", "Metodología medición DAP"
            , "AC (m)", "AC Campo (m)", "Estado", "Estado Campo", "Condición", "Condición Campo", "Cant. Sobre Estimación de los Diámetros"
            ,"% Sobre Estimación de los Diámetros","Cant. Sub Estimación de los Diámetros","% Sub Estimación de los Diámetros","PC PMF", "PC Campo","Observación"];
        columns_data = ["POA", "BLOQUE", "BLOQUE_CAMPO", "FAJA", "FAJA_CAMPO", "CODIGO", "CODIGO_CAMPO", "DESC_ESPECIES", "DESC_ESPECIES_CAMPO"
            , "DESC_COINCIDE_ESPECIES", "ZONA", "ZONA_CAMPO", "COORDENADA_ESTE", "COORDENADA_ESTE_CAMPO", "COORDENADA_NORTE", "COORDENADA_NORTE_CAMPO"
            , "DAP", "DAP_CAMPO", "DAP_CAMPO1", "DAP_CAMPO2", "MMEDIR_DAP"
            , "AC", "AC_CAMPO", "DESC_EESTADO", "DESC_EESTADO_CAMPO", "DESC_ECONDICION", "DESC_ECONDICION_CAMPO", "CANT_SOBRE_ESTIMA_DIAMETRO"
            , "PORC_SOBRE_ESTIMA_DIAMETRO", "CANT_SUB_ESTIMA_DIAMETRO", "PORC_SUB_ESTIMA_DIAMETRO", "PCA_POA","PCA", "OBSERVACION"];
        options = {
            page_length: 10, row_index: true, row_edit: true, row_fnEdit: "_DatosCampoMaderable.fnAddEdit(this)"
            , page_render: true, page_info: true, page_search: true
        };
        _DatosCampoMaderable.dtDatosCampoMaderable = utilDt.fnLoadDataTable_Detail($("#tbDatosCampoMaderable"), columns_label, columns_data, options);
    }

    _DatosCampoMaderable.fnAddEdit = function (obj) {
        var url = urlLocalSigo + "Supervision/ManInforme/_EspecieMaderable";
        var option = { url: url, type: 'POST', datos: { asCodInforme: _DatosCampoMaderable.frm.find("#hdfCodInforme").val(), aiNumPoa: _DatosCampo.hdfNumPoa}, divId: "mdlManInforme_EspecieCampo" };
        utilSigo.fnOpenModal(option, function () {
            _EspecieMaderable.fnSaveForm = function (data) {
                if (data != null) {
                    var dt = _DatosCampoMaderable.dtDatosCampoMaderable;
                    var row = dt.row($(obj).parents('tr')).data();
                    row = data;
                    dt.row($(obj).parents('tr')).data(row).draw(false);
                    utilSigo.toastSuccess("Exito", "Datos actualizados correctamente");

                    $("#mdlManInforme_EspecieCampo").modal('hide');
                } else {
                    utilSigo.toastError("Error", "No se pudieron guardar los datos");
                }
            }

            if (obj != null && obj != "") {
                var data = _DatosCampoMaderable.dtDatosCampoMaderable.row($(obj).parents('tr')).data();
                _EspecieMaderable.fnInit(utilSigo.fnConvertArrayToObject(data));
            }
        });
    }

    _DatosCampoMaderable.fnImport = function (e, obj) {
        var url = urlLocalSigo + "Supervision/ManInforme/ImportarDatosCampo";
        uploadFile.fileSelectHandler(e, obj, url, { asTipo: "MADERABLE", asCodInforme: _DatosCampoMaderable.frm.find("#hdfCodInforme").val(),aiNumPoa:0 }, function (data) {
            $("#mdlManInforme_DatosCampo").modal('hide');
        });
    }

    $(document).ready(function () {
        _DatosCampoMaderable.frm = $("#frmDatosCampoMaderable");

        _DatosCampoMaderable.fnInitDataTable_Detail();

        @{
            var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
            serializer.MaxJsonLength = Int32.MaxValue;
            var jsonModel = serializer.Serialize(Model);
        }

        @*_DatosCampoMaderable.dtDatosCampoMaderable.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model))')).draw();*@
        _DatosCampoMaderable.dtDatosCampoMaderable.rows.add(@Html.Raw(jsonModel)).draw();
    });
</script>

<style type="text/css">
    #dvDatosCampoMaderable .dataTables_info {
        color: #33b35a;
        font-size: 15px;
        margin-top: 17px;
    }
</style>

<div class="modal-dialog modal-custom-tb" role="document" style="height:95%;">
    <div class="modal-content" style="height:100%;">
        <div class="modal-header text-small" style="cursor:move;">
            Datos de Campo de la Muestra Maderable
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body" style="padding:0px;overflow-y:auto;">
            <div id="frmDatosCampoMaderable">
                @Html.Hidden("hdfCodInforme", (string)ViewBag.hdfCodInforme)
                <div id="dvDatosCampoMaderable" class="table-responsive" style="margin-top:5px;">
                    <table id="tbDatosCampoMaderable" style="width:100%" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th colspan="36" class="text-sm-left">
                                    <div class="form-inline">
                                        <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Archivo" data-toggle="tooltip">
                                            <input type="file" id="fileselect" name="fileselect" style="display:none" size="60" onchange="_DatosCampoMaderable.fnImport(event, this)">
                                        </label>
                                        <a href="@Url.Content("~/Archivos/Plantilla/PoaMaderableCenso_Modificar_v2.xlsx")"> <i class="fa mx-2 fa-lg fa-folder-open" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla Campo"></i></a>
                                        <strong>
                                            Listado de Especies Seleccionadas en la Muestra
                                        </strong>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>