
<script src="~/Areas/Supervision/js/ManInforme/_EvaluacionArbol.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Evaluación de Árbol</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemEvaluacionArbol">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.Partial("~/Areas/General/Views/Controles/_renderComboEspecie.cshtml")
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtBloque" class="text-small">Bloque</label>
                        @Html.TextBox("txtBloque", "", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFaja" class="text-small">Faja</label>
                        @Html.TextBox("txtFaja", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCodigo" class="text-small">Código</label>
                        @Html.TextBox("txtCodigo", "", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtDap" class="text-small">DAP (cm)</label>
                        @Html.TextBox("txtDap", "", new { @class = "form-control form-control-sm", type="number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtDap1" class="text-small">DAP 1 (cm)</label>
                        @Html.TextBox("txtDap1", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtDap2" class="text-small">DAP 2 (cm)</label>
                        @Html.TextBox("txtDap2", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlMetodoMedirDapId" class="text-small">Metodología Medir DAP</label>
                        @Html.DropDownList("ddlMetodoMedirDapId", new SelectList(ViewBag.ddlMetodoMedirDap, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtAc" class="text-small">AC (m)</label>
                        @Html.TextBox("txtAc", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlEstadoId" class="text-small">Estado</label>
                        @Html.DropDownList("ddlEstadoId", new SelectList(ViewBag.ddlEstado, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlZonaId" class="text-small">Zona UTM</label>
                        @Html.DropDownList("ddlZonaId", new SelectList(ViewBag.ddlZona, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCoordEste" class="text-small">Coordenada Este</label>
                        @Html.TextBox("txtCoordEste", "", new { @class = "form-control form-control-sm", maxlength = "6", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCoordNorte" class="text-small">Coordenada Norte</label>
                        @Html.TextBox("txtCoordNorte", "", new { @class = "form-control form-control-sm", maxlength = "7", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_EvaluacionArbol.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
