
<script src="~/Areas/Supervision/js/ManInforme/_Infraestructura.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Infraestructura</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemInfraestructura">
                @Html.Hidden("hdfRegEstadoInfr")              
                @Html.Hidden("hdfCodSecuencialInfr")              
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtDescripcion" class="text-small">Descripcion</label>
                        @Html.TextBox("txtDescripcion", "", new { @class = "form-control form-control-sm", maxlength = "300", oninput = "this.value = this.value.replace(/[^áéíóúa-zÁÉÍÓÚA-Z 0-9]/,'')" }) 
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtDimensiones" class="text-small">Dimensiones</label>
                        @Html.TextBox("txtDimensiones", "", new { @class = "form-control form-control-sm", maxlength = "150", oninput = "this.value = this.value.replace(/[^áéíóúa-zÁÉÍÓÚA-Z 0-9]/,'')" })
                    </div>
                </div>                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtUso" class="text-small">Uso</label>
                        @Html.TextBox("txtUso", "", new { @class = "form-control form-control-sm", maxlength = "150", oninput = "this.value = this.value.replace(/[^áéíóúa-zÁÉÍÓÚA-Z 0-9]/,'')" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEstadoConservacion" class="text-small">Estado de Conservación</label>
                        @Html.TextBox("txtEstadoConservacion", "", new { @class = "form-control form-control-sm", maxlength = "200", oninput = "this.value = this.value.replace(/[^áéíóúa-zÁÉÍÓÚA-Z 0-9]/,'')" })
                    </div>
                </div>               
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObjetivos" class="text-small">Objetivos</label>
                        @Html.TextArea("txtObjetivos", "", new { @class = "form-control form-control-sm", rows = "4" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_Infraestructura.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
