
<script src="~/Areas/Supervision/js/ManInforme/_VerticeArea.js?v2"></script>
@*Dos columnas*@
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Vértice del Área</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemVerticeArea">
                <div class="form-row">
                    <div class="form-group col-md-6"><div class="card-title">Datos del Área</div></div>
                    <div class="form-group col-md-6"><div class="card-title">Datos Campo</div></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlVerticeId" class="text-small">Vértice</label>
                        @Html.DropDownList("ddlVerticeId", new SelectList(ViewBag.ddlVetice, "Value", "Text"), new { @class = "form-control form-control-sm" })
                        @Html.Hidden("hdfCodSistema")
                        @Html.Hidden("hdfVertice")
                        @Html.Hidden("hdfRegEstado")
                        @Html.Hidden("hdfCodSecuencial")
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtVerticeCampo" class="text-small">Vértice</label>
                        @Html.TextBox("txtVertice", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlZonaId" class="text-small">Zona</label>
                        @Html.DropDownList("ddlZonaId", new SelectList(ViewBag.ddlZona, "Value", "Text"), new { @class = "form-control form-control-sm", disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlZonaCampoId" class="text-small">Zona</label>
                        @Html.DropDownList("ddlZonaCampoId", new SelectList(ViewBag.ddlZona, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCoordEste" class="text-small">Coordenada Este</label>
                        @Html.TextBox("txtCoordEste", "", new { @class = "form-control form-control-sm", maxlength = "6", disabled = "disabled", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCoordEsteCampo" class="text-small">Coordenada Este</label>
                        @Html.TextBox("txtCoordEsteCampo", "", new { @class = "form-control form-control-sm", maxlength = "6", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCoordNorte" class="text-small">Coordenada Norte</label>
                        @Html.TextBox("txtCoordNorte", "", new { @class = "form-control form-control-sm", maxlength = "7", disabled = "disabled", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCoordNorteCampo" class="text-small">Coordenada Norte</label>
                        @Html.TextBox("txtCoordNorteCampo", "", new { @class = "form-control form-control-sm", maxlength = "7", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtPCPOA" class="text-small">PC PMF</label>
                        @Html.TextBox("txtPCPOA", "", new { @class = "form-control form-control-sm", disabled = "disabled" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtPCVertice" class="text-small">PC Campo</label>
                        @Html.DropDownList("txtParceVertice", new SelectList(ViewBag.ddParcelas, "Value", "Text"), new { @class = "form-control form-control-sm" })

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-6">
                        <label for="txtObservacionCampo" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "4" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_VerticeArea.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>

@*Antiguo*@
@*<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Vértice del Área</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemVerticeArea">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtVertice" class="text-small">Vértice</label>
                        @Html.TextBox("txtVertice", "", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlZonaId" class="text-small">Zona UTM</label>
                        @Html.DropDownList("ddlZonaId", new SelectList(ViewBag.ddlZona, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCoordEste" class="text-small">Coordenada Este</label>
                        @Html.TextBox("txtCoordEste", "", new { @class = "form-control form-control-sm", maxlength = "6", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCoordNorte" class="text-small">Coordenada Norte</label>
                        @Html.TextBox("txtCoordNorte", "", new { @class = "form-control form-control-sm", maxlength = "7", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_VerticeArea.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>*@
