
@model CapaEntidad.ViewModel.VM_InformeTecnico
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Areas/Fiscalizacion/js/ManInformeTecnico/AddEdit.js"></script>
@section scripts{
    <script>
        "use strict"; var rol = '';
    $(document).ready(function () {
        //Validamos el rol del usuario
        utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnRegistrar', '@Model.vmControlCalidad.ddlIndicadorId');
    });
    </script>
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header text-right">
            Informe Técnico
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header text-small">
                    <a id="btnRegistrar" href="javascript:void(0)" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Guardar" onclick="ManInfTecnico_AddEdit.fnSaveForm()"><i class="fa mx-2 fa-lg fa-save"></i></a>
                    <a style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Regresar" onclick="ManInfTecnico_AddEdit.regresar()"><i class="fa mx-2 fa-lg fa-reply"></i></a>
                    @Model.lblTituloCabecera
                </div>
                <div class="card-body">
                    <form id="frmAddOrEditInformeTecnico">
                        <!-- form-->
                        @Html.HiddenFor(m => m.hdfCodigoInfTec)
                        @Html.HiddenFor(m => m.RegEstado)
                        @Html.HiddenFor(m => m.hdfCodFCTipo)
                        @Html.HiddenFor(m => m.hdfCodPersona)


                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#navEstado" role="tab" aria-controls="home" aria-selected="true">Estado Situacional</a></li>
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#navDatos" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a></li>
                            @if (Model.hdfCodFCTipo == "0000044")
                            {
                                <li id="idNavOtros" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navOtros" role="tab" aria-controls="home" aria-selected="true">Otros</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000042")
                            {
                                <li id="idNavAclaracion" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navAclaracion" role="tab" aria-controls="home" aria-selected="true">Aclaración</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000041")
                            {
                                <li id="idNavComplementario" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navComplementario" role="tab" aria-controls="home" aria-selected="true">Inf. Complementario</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000120")
                            {
                                <li id="idNavReconsideracion" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navReconsideracion" role="tab" aria-controls="home" aria-selected="true">Reconsideración</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000039")
                            {
                                <li id="idNavDeterminacionMulta" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navDeterminacionM" role="tab" aria-controls="home" aria-selected="true">Determinación</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000043")
                            {
                                <li id="idNavInsOcular" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navInsOcular" role="tab" aria-controls="home" aria-selected="true">Inspercción Ocular</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000040")
                            {
                                <li id="idNavFormatoMulta" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navFormatoMulta" role="tab" aria-controls="home" aria-selected="true">Formato Multa</a></li>
                            }
                            @if (Model.hdfCodFCTipo == "0000038")
                            {
                                <li id="idNavEvDescargo" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navEvDescargo" role="tab" aria-controls="home" aria-selected="true">Evaluación</a></li>
                            }


                            <li id="idNavObservaciones" class="nav-item"><a class="nav-link" data-toggle="tab" href="#navObservacion" role="tab" aria-controls="home" aria-selected="true">Observaciones</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show" id="navEstado" role="tabpanel" aria-labelledby="nav-home-tab">
                                @{ Html.RenderAction("_ControlCalidad", "Controles", new { area = "GENERAL", dto = Model.vmControlCalidad }); }
                            </div>
                            <div class="tab-pane fade show active" id="navDatos" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card">

                                    <!---->
                                    <div class="form-row">

                                        <div class="form-group col-md-12">
                                            <br />
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="lblTipoILegal" class="text-small">Tipo de Proveído</label>
                                            @Html.TextBoxFor(m => m.txtTipoFisca, new { @class = "form-control form-control-sm", disabled = "disabled" })
                                        </div>


                                        <div class="form-group col-md-6">
                                            <label for="txtNumLegal" class="text-small">O.D. desde donde registra la información</label>
                                            @Html.DropDownListFor(m => m.txtIdCodOD, new SelectList(Model.ListODS, "CODIGO", "DESCRIPCION"),
                                                                     new { @class = "form-control form-control-sm", @id = "ddlOds" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="txtFechaLegal" class="text-small">Fecha de emisión</label>
                                            @Html.EditorFor(m => m.txtFechaEmision, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/yyyy", title = "la fecha a ingresar debe ser en el formato dd/mm/yyyy", maxlength = "10" } })
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txtProfesional" class="text-small texto-recortado">Profesional responsable<i class="fa fa-cog fa-spin text-danger" id="iconRLegalCodigo" style="display:none;" data-toggle="tooltip" data-placement="top" title="Seleccione funcionario"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-plus" style="cursor:pointer;" onclick="ManInfTecnico_AddEdit.fnBuscarPersona('PROFESIONAL', 'N');" data-toggle="tooltip" data-placement="top" title="Agregar"></i></span>
                                                </div>
                                                @Html.EditorFor(m => m.txtPersona, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="lblTipoILegal" class="text-small">Número Informe Técnico</label>
                                        @Html.TextBoxFor(m => m.txtNumInforme, new { @class = "form-control form-control-sm" })
                                    </div>


                                    <div id="dvRenderListInforme" class="form-row" style="margin-bottom:10px;">
                                        <div class="col-md-12">
                                            @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderListaInforme.cshtml", Model)
                                        </div>
                                    </div>
                                    <div class="card-header text-small">Archivos cargados en el SIADO</div>
                                    <div class="card-body">
                                        <div class="form-row">
                                            @{Html.RenderAction("_IntegracionSIADO", "Controles", new { area = "GENERAL", asCriterio = "SUBTIP_TITDOCSIGO", asSubCriterio = "0010", asValor = Model.hdfCodigoInfTec });}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Informe Tecnico Otros-->
                            @if (Model.hdfCodFCTipo == "0000044")
                            {
                                <div class="tab-pane fade show" id="navOtros" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderOtros.cshtml", Model)
                                </div>
                            }

                            <!--Informe Tecnico Aclaracion-->
                            @if (Model.hdfCodFCTipo == "0000042")
                            {
                                <div class="tab-pane fade show" id="navAclaracion" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderAclaracion.cshtml", Model)
                                </div>
                            }

                            <!--Informe Tecnico Informe Complementario-->
                            @if (Model.hdfCodFCTipo == "0000041")
                            {
                                <div class="tab-pane fade show" id="navComplementario" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderComplementario.cshtml", Model)
                                </div>
                            }
                            <!--Informe Tecnico Evaluación Recurso Reconsideración-->
                            @if (Model.hdfCodFCTipo == "0000120")
                            {
                                <div class="tab-pane fade show" id="navReconsideracion" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderReconsideracion.cshtml", Model)
                                </div>
                            }
                            <!--Informe Tecnico  Informe Determinación Multa-->
                            @if (Model.hdfCodFCTipo == "0000039")
                            {
                                <div class="tab-pane fade show" id="navDeterminacionM" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderIDeterminacionMulta.cshtml", Model)
                                </div>
                            }
                            <!--Informe Tecnico  Informe Determinación Multa-->
                            @if (Model.hdfCodFCTipo == "0000043")
                            {
                                <div class="tab-pane fade show" id="navInsOcular" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderInsOcular.cshtml", Model)
                                </div>
                            }
                            <!--Informe Tecnico  Formato Determinación Multa-->
                            @if (Model.hdfCodFCTipo == "0000040")
                            {
                                <div class="tab-pane fade show" id="navFormatoMulta" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderFormatoMulta.cshtml", Model)
                                </div>
                            }
                            <!--Informe Tecnico  Evaluacion de descargo-->
                            @if (Model.hdfCodFCTipo == "0000038")
                            {
                                <div class="tab-pane fade show" id="navEvDescargo" role="tabpanel" aria-labelledby="nav-home-tab">
                                    @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderEvaDescargo.cshtml", Model)
                                </div>
                            }
                            <!--Observaciones-->
                            <div class="tab-pane fade show" id="navObservacion" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txtObservaciones" class="text-small">Observaciones</label>
                                            @Html.TextAreaFor(m => m.txtDescripInforme, 8, 1, new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide" id="mdlBuscarPersona" role="dialog"></div>
<div class="modal fade" id="modalAddEditPersona" tabindex="-1" role="dialog"></div>
<div class="modal fade hide" id="personaUbigeoModal" role="dialog"></div>


