<script id="tmpl-exportar" type="text/x-jquery-tmpl">
    <div style="font-family: Arial; font-size: 10pt; line-height: 150%;">
        <div>
            <p style="text-align: center; font-size: 10pt; margin-top: 0; font-style: italic;">
                "Decenio de la igualdad de oportunidades para mujeres y hombres"<br />
                "Año de la Unidad, la Paz y el Desarrollo"
            </p>
            <p style="text-align: center; font-size: 11pt;">
                <strong>INFORME FINAL DE INSTRUCCIÓN N° ${NUM_INFORME_SITD || '00XXX-202X-OSINFOR/08.2.1'}</strong>
            </p>
            <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;"><strong>Para</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">
                            <strong>Luisa Cóndor Meza</strong><br />
                            <span>Ejecutiva de la Subdirección de Sanción</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>Asunto</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">
                            Resultados de la fase instructora del Procedimiento Administrativo Único iniciado a
                            ${TITULAR || '(indicar texto)'}, titular de {{if COD_MODALIDAD != '04'}} ${TIPO_CONTRATO} N° {{/if}}
                            ${NUM_CONTRATO || '(indicar texto)'}
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>Referencia</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">Expediente Administrativo N° ${EXPEDIENTE_ADM || 'XXXXX-XXXX-OSINFOR/08.2'}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>Fecha</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">Magdalena del Mar, ${FECHA}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="height: 1px; border-top: 1px solid #000;" />

        <p style="text-align: justify;">
            Me dirijo a usted, en atención al documento de la referencia, para informar los resultados de la etapa
            instructora del Procedimiento Administrativo Único (en adelante, PAU), iniciado a
            ${TITULAR || '(indicar por defecto el nombre)'}, identificado/a con ${TITULAR_DOCUMENTO? 'D.N.I.': 'RUC'} N°
            ${TITULAR_DOCUMENTO || TITULAR_RUC}, titular del ${TIPO_CONTRATO};
            conforme el artículo 22 del Reglamento del Procedimiento Administrativo Único del OSINFOR,
            aprobado por Resolución de Jefatura N° 00043-2021-OSINFOR/01.1 (en adelante, <strong>Reglamento PAU</strong>).
        </p>
        <div style="text-align: justify;">
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="1"><li><strong>ANTECEDENTES</strong></li></ol>

                <table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
                    <thead>
                        <tr>
                            <th style="border: 1px solid #000;">N°</th>
                            <th style="border: 1px solid #000; width: 50%;">DOCUMENTO</th>
                            <th style="border: 1px solid #000; width: 50%;">DESCRIPCIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border: 1px solid #000;">1</td>
                            <td style="border: 1px solid #000;">
                                Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup.numero}, de fecha ${ANTECEDENTES_DOCS.Inf_Sup.fechaEmisionTexto || 'XX de XXXXX de XXXX'} (en adelante, el Informe de Supervisión)
                            </td>
                            <td style="border: 1px solid #000;">
                                <div>Titular: ${TITULAR || '(indicar por defecto el nombre)'} (en adelante, el/la titular)</div>
                                <div>Código de TH: N° ${NUM_CONTRATO || '(indicar texto)'} (en adelante, el contrato de ${TIPO_CONTRATO})</div>
                                <div>Plan de Manejo supervisado: ${NOMBRE_POA || 'xx'}</div>
                                <div>Fecha de supervisión: ${ANTECEDENTES_DOCS.Inf_Sup.FECHA_SUPERVISION_INICIO_TEXTO || 'XXX'} al ${ANTECEDENTES_DOCS.Inf_Sup.FECHA_SUPERVISION_FIN_TEXTO || 'XXX'} </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000;">2</td>
                            <td style="border: 1px solid #000;">
                                Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto || 'XX de XXXXX de XXXX'}.
                            </td>
                            <td style="border: 1px solid #000;">
                                <p>Se inició el PAU por haber incurrido presuntamente en lo siguiente:</p>
                                <ul style="list-style-type: lower-roman; margin-left: 0;">
                                    {{each(index, inf) INFRACCIONES}}
                                    <li>
                                        <i>${inf.detalle}</i>
                                    </li>
                                    {{/each}}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000;">3</td>
                            <td style="border: 1px solid #000;">
                                Cédula de Notificación N° ${ANTECEDENTES_DOCS.Ced_Noti.numero}, de fecha ${ANTECEDENTES_DOCS.Ced_Noti.fechaEmisionTexto || 'XX de XXXXX de XXXX'}, notificada el ${ANTECEDENTES_DOCS.Ced_Noti.fechaNotificacionTexto || 'XX de XXXXX de XXXX'}
                            </td>
                            <td style="border: 1px solid #000;">
                                Se notificó al/la titular la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXX'} y el Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXX'}.
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000;">4</td>
                            <td style="border: 1px solid #000;">
                                <div>Llamada Telefónica y mensaje de texto al/la titular realizada el xx de xx de 202x</div>
                                <div>[Adjuntar evidencia]</div>
                            </td>
                            <td style="border: 1px solid #000;">
                                Se informó al/la titular que, con fecha ${ANTECEDENTES_DOCS.RSD.fechaNotificacionTexto || 'XX de XXXXX de XXXX'} se notificó la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXX'}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto || 'XX de XXXXX de XXXX'} y que tenía plazo para presentar los descargos de quince (15) días hábiles más el término de la distancia, en caso corresponda, contados a partir del día siguiente de la fecha de notificación, es decir, hasta el XX de XX de 202X
                            </td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid #000;">5</td>
                            <td style="border: 1px solid #000;">
                                Documentos presentado posterior a la notificación de la Resolución Sub Directoral que dio inicio al PAU
                            </td>
                            <td style="border: 1px solid #000;">
                                De la revisión del Sistema de Trámite Documentario SITD-OSINFOR, a la fecha de emisión del presente informe, se verifica que la Titular a pesar de haber sido debidamente notificada, hasta la fecha, no presentó descargo alguno. (Se sugiere que, en caso haya variaciones de domicilio, se agregue un ítem en el cual se indique dicha situación. Así como cuando presenta descargo)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="2"><li><strong>BASE LEGAL</strong></li></ol>
                {{if COD_MODALIDAD == "01"}}
                @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Concesiones/_legal.cshtml")

                {{else COD_MODALIDAD == "02"}}
                @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Predios privados/_legal.cshtml")

                {{else COD_MODALIDAD == "03"}}
                @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Comunidades nativas/_legal.cshtml")

                {{else COD_MODALIDAD == "04"}}
                @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Fauna/_legal.cshtml")

                {{/if}}
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="3"><li><strong>ANÁLISIS</strong></li></ol>
                <div>
                    {{if COD_MODALIDAD == "01"}}
                    @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Concesiones/_tmpl.cshtml")

                    {{else COD_MODALIDAD == "02"}}
                    @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Predios privados/_tmpl.cshtml")

                    {{else COD_MODALIDAD == "03"}}
                    @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Comunidades nativas/_tmpl.cshtml")

                    {{else COD_MODALIDAD == "04"}}
                    @Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/Fauna/_tmpl.cshtml")

                    {{/if}}

                    <h5><u><strong>Plazo para presentación de descargos al presente Informe Final de Instrucción</strong></u></h5>
                    <ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
                        <li>
                            Se otorga al/la ${DENOMINACION_TITULAR}/a un plazo improrrogable de quince (15)/veinte (20) días hábiles contados a partir del día siguiente de notificado el presente Informe Final de Instrucción, más el término de la distancia, para que presente los descargos que considere pertinentes, ya sea de forma virtual, por la Mesa de Partes Digital a través del portal web del OSINFOR: https://facilita.gob.pe/t/677 y solo si el archivo a adjuntar excede los 10 MB, remitirlo al correo mesa.partes@osinfor.gob.pe, o de forma presencial, ante la mesa de partes de la sede central del OSINFOR en la ciudad de Lima o ante cualquier mesa de partes de sus oficinas desconcentradas. De la misma manera, podrá señalar una dirección de correo electrónico y/o casilla electrónica del OSINFOR, en caso lo tuviere, para notificarle las diferentes actuaciones administrativas que deriven del presente PAU.
                        </li>
                        <li>
                            Asimismo, el/la Titular tiene derecho de requerir información, acceder y obtener copias de los actuados contenidos en el presente procedimiento administrativo, en cualquier momento y estado de su tramitación, en virtud de lo estipulado en el numeral 1.19 del artículo IV del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General.
                        </li>
                        <li>
                            Finalmente, en concordancia con el Decreto Supremo N° 026-2023-PCM, mediante el cual se aprueba el uso obligatorio de la notificación vía Casilla Electrónica del OSINFOR, se le EXHORTA a realizar su afiliación a la casilla electrónica del OSINFOR ingresando al siguiente link: https://notificaciones.osinfor.gob.pe:9061/#/registro, a fin que se realice la notificación a través de ese medio. Cabe señalar que, según lo estipulado en el Reglamento del Sistema de Notificación Vía Casilla Electrónica del OSINFOR, aprobado mediante Resolución de Jefatura N° 026-2023-OSINFOR, a partir del 1 de agosto del 2023, el OSINFOR habilitará de oficio casillas electrónicas a todos los administrados. En esa línea, se le recuerda que, una vez asignada la casilla electrónica, deberá revisarla periódicamente, a efectos de tomar conocimiento oportuno de los actos administrativos y actuaciones administrativas que le hayan sido notificados por el OSINFOR".
                        </li>
                    </ol>
                </div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="4"><li><strong>CONCLUSIÓN</strong></li></ol>
                <ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
                    <li>
                        <span>
                            Del análisis efectuado en el presente informe, ha quedado acreditado que la ${TITULAR || 'XXX'}, identificada con ${TITULAR_DOCUMENTO? 'DNI': 'RUC'} N° ${TITULAR_DOCUMENTO || TITULAR_RUC}, titular del Contrato/permiso, es responsable por la comisión de las siguientes infracciones:
                        </span>
                    </li>
                </ol>
                <table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
                    <thead>
                        <tr>
                            <th style="border: 1px solid #000; text-align: center;">N°</th>
                            <th style="border: 1px solid #000; text-align: center; width: 50%;">Infracciones</th>
                            <th style="border: 1px solid #000; text-align: center; width: 50%;">Descripción de la conducta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{each(i, infra) INFRACCIONES}}
                        <tr>
                            <td style="border: 1px solid #000; text-align: center;">
                                ${i + 1}
                            </td>
                            <td style="border: 1px solid #000;">
                                Numeral "${infra.inciso}" del Anexo 1 del RISMFFS.<br />
                                ${infra.titulo}
                            </td>
                            <td style="border: 1px solid #000;">
                                ${infra.detalle}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="5"><li><strong>RECOMENDACIONES</strong></li></ol>
                <div>
                    En base a lo expuesto, se procede a formular las siguientes recomendaciones:<br />
                    <ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
                        <li>                            
                            Remitir el presente informe correspondiente al Expediente Administrativo N° ${EXPEDIENTE_ADM || 'XXXXX-XXXX-OSINFOR/08.2'}, a la Autoridad Decisora, a fin que proceda conforme a su competencia.
                        </li>
                        {{if [1,3].includes(FLG_SANCION)}}
                        <li>
                            Amonestar al/la ${DENOMINACION_TITULAR}/a por la comisión de la(s) infracción(es) previstas en el/los numeral(es) X y X del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo ${COD_MODALIDAD != '04'?'1':'2'} del RISMFFS.
                        </li>
                        {{/if}}
                        {{if [2,3].includes(FLG_SANCION)}}
                        <li>
                            Sancionar al/la ${DENOMINACION_TITULAR}/a por la comisión de la(s) infracción(es) previstas en el/los numeral(es) X y X del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo ${COD_MODALIDAD != '04'?'1':'2'} del RISMFFS, debiendo imponérsele una multa ascendente a ${SANCION_UIT} UIT detallado en el Anexo I del presente informe.
                        </li>
                        <li>
                            Aplicar la sanción de multa consignada en el Anexo I del presente informe, equivalente a ${SANCION_UIT} UIT, respecto a la comisión de las infracciones tipificada/s en los numerales (precisar la/s conducta/s no desvirtuada/s) del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo ${COD_MODALIDAD != '04'?'1':'2'} del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado por Decreto Supremo N° 007-2021-MIDAGRI.
                        </li>
                        {{/if}}
                        {{if FLG_MEDIDA_CORRECTIVA}}
                        <li>
                            Disponer que el/la ${DENOMINACION_TITULAR}/a cumpla con la medida correctiva detallada en el Anexo II del presente informe.
                        </li>
                        {{/if}}
                        {{if FLG_MEDIDA_COMPLEMENTARIA}}
                        <li>
                            Disponer que el/la ${DENOMINACION_TITULAR}/a cumpla con la medida complementaria detallada en el Anexo III del presente informe.
                        </li>
                        {{/if}}
                        <li>
                            Notificar el presente informe final de instrucción al/la ${DENOMINACION_TITULAR}/a, en el (consignar domicilio).
                        </li>
                        <li>
                            Asimismo, se solicita que los documentos que presente en el marco del PAU consignen el siguiente número de expediente: ${EXPEDIENTE_ADM || 'XXXXX-XXXX-OSINFOR/08.2'}.
                        </li>
                        <li>
                            Comunicar a la ARFFS, para que en el marco de sus funciones y competencias dispongan acciones necesarias que consideren pertinentes.
                        </li>
                    </ol>
                </div>
                <p>Es todo cuanto informo,</p>
            </div>
        </div>
        <br /><br />
        <div>
            Firmado digitalmente por<br />
            <strong>${SUBDIRECTOR}</strong><br />
            Ejecutivo<br />
            ${PROCEDENCIA}<br />
            OSINFOR
        </div>
        {{if IMG_SANCION?.length}}
        <div style="text-align:center;">
            <br clear=all style="mso-special-character:line-break;page-break-before:always">
            <h5>Anexos</h5>
            {{each(i, img) IMG_SANCION}}
            <img alt="Calculo de multa" src="${img}" width="500" height="720" />
            {{/each}}
        </div>
        {{/if}}
    </div>
</script>

@Html.Partial("~/Areas/Fiscalizacion/Views/InformeLegal/templates/_tmplFootnotes.cshtml")

<script id="tmpl-pie-pagina" type="text/x-jquery-tmpl">
    <img width="600" alt="" src="${urlLocalSigo}content/images/logo/osinfor-footer-punche.png" />
    <div>
        Esta es una copia auténtica imprimible de un documento electrónico archivado en el Organismo de Supervisión de los Recursos Forestales y
        de Fauna Silvestre, aplicando lo dispuesto por el Art. 25 de D.S. 070 – 2013 PCM y la Tercera Disposición Complementaria Final del D.S. 026-
        2016-PCM. Su autenticidad e integridad pueden ser contrastadas a través de la siguiente web:
        <a href="http://mpv.osinfor.gob.pe:8083/visor-osinfor-pide">http://mpv.osinfor.gob.pe:8083/visor-osinfor-pide</a> e ingresando la siguiente clave-std: ${informe.SITD_PASSWORD}
    </div>
</script>

<script id="tmpl-pie-pagina-estructura" type="text/x-jquery-tmpl">
    <table border="0" cellspacing="0" cellpadding="0" style="margin: 0in 0in 0in 900in; width: 1px; height: 1px; overflow: hidden;">
        <tr>
            <td>
                <!--Footer Primera página => id = ff1 -->
                <div style="mso-element: footer; text-align: justify; font-size: 8pt;" id="googoose-footer">
                    <p class="MsoFooter">
                        {{html PIE_PAGINA}}
                        <table style="width: 100%;"><tr><td style="text-align: center;">Página #CURRENTPAGE# de #TOTALPAGES#</td></tr></table>
                    </p>
                </div>
            </td>
        </tr>
    </table>
</script>