
<script src="~/Areas/Supervision/js/ManInformeConservacion/_ActividadInvestigacion.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Actividad</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemActividadInvestigacion">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodPrograma")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtActividad" class="text-small">Actividad de Investigación</label>
                        @Html.TextBox("txtActividad", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div id="dvDatosObjetivo" class="form-row" style="display:none;">
                    <div class="form-group col-md-12">
                        <label for="txtObjetivo" class="text-small">Objetivo</label>
                        @Html.TextBox("txtObjetivo", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtAvance" class="text-small">Avances y Resultados</label>
                        @Html.TextArea("txtAvance", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_ActividadInvestigacion.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
