
<script src="~/Areas/Supervision/js/ManInformeConservacion/_ActividadLocalCons.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Actividad Desarrollada</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemActividadLocalCons">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodPrograma")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtActividad" class="text-small">Actividad</label>
                        @Html.TextBox("txtActividad", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtNumParticipante" class="text-small">Nro. de Participantes</label>
                        @Html.TextBox("txtNumParticipante", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtComunidad" class="text-small">Nombre de la Comunidad</label>
                        @Html.TextBox("txtComunidad", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObjetivo" class="text-small">Objetivo</label>
                        @Html.TextBox("txtObjetivo", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_ActividadLocalCons.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
