
<script src="~/Areas/Supervision/js/ManInformeConservacion/_EquipamientoCons.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Equipamiento</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemEquipamientoCons">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodPrograma")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtDescripcion" class="text-small">Descripción</label>
                        @Html.TextBox("txtDescripcion", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtNumAmbiente" class="text-small">Número de Ambiente</label>
                        @Html.TextBox("txtNumAmbiente", "", new { @class = "form-control form-control-sm",type="number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtUso" class="text-small">Uso</label>
                        @Html.TextBox("txtUso", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtEstConservacion" class="text-small">Estado Conservación</label>
                        @Html.TextBox("txtEstConservacion", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObjetivo" class="text-small">Objetivo</label>
                        @Html.TextBox("txtObjetivo", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtObservacion" class="text-small">Observación</label>
                        @Html.TextArea("txtObservacion", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_EquipamientoCons.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
