
<script src="~/Areas/Supervision/js/ManInformeConservacion/_InfraestructuraImpl.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;">
            <span>Infraestructura Implementada</span>
            <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
        </div>
        <div class="modal-body">
            <form id="frmItemInfraestructuraImpl">
                @Html.Hidden("hdfRegEstado")
                @Html.Hidden("hdfCodSecuencial")
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtTipoAmbiente" class="text-small">Tipo Ambiente</label>
                        @Html.TextBox("txtTipoAmbiente", "", new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNumAmbiente" class="text-small">Nro. de Ambientes</label>
                        @Html.TextBox("txtNumAmbiente", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtArea" class="text-small">Área (m2)</label>
                        @Html.TextBox("txtArea", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                    <div class="form-group col-md-6 dvDatosEcot" style="display:none;">
                        <label for="txtCapacidad" class="text-small">Capacidad (número de personas)</label>
                        @Html.TextBox("txtCapacidad", "", new { @class = "form-control form-control-sm", type = "number" })
                    </div>
                </div>
                <div class="form-row dvDatosCons" style="display:none;">
                    <div class="form-group col-md-12">
                        <label for="txtUso" class="text-small">Uso</label>
                        @Html.TextBox("txtUso", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="txtMaterial" class="text-small">Material de Construcción</label>
                        @Html.TextArea("txtMaterial", "", new { @class = "form-control form-control-sm", rows = "3" })
                    </div>
                </div>
                <div class="form-row dvDatosCons" style="display:none;">
                    <div class="form-group col-md-12">
                        <label for="txtEstadoCons" class="text-small">Estado Conservación</label>
                        @Html.TextBox("txtEstadoCons", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="form-row dvDatosCons" style="display:none;">
                    <div class="form-group col-md-12">
                        <label for="txtObjetivo" class="text-small">Objetivo</label>
                        @Html.TextBox("txtObjetivo", "", new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" onclick="_InfraestructuraImpl.fnSubmitForm()">Guardar</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</div>
