@model SIGOFCv3.Areas.General.Models.ManGrillaViewModel

<script src="~/Areas/General/js/Controles/_ManGrillaPaging.js"></script>

<style type="text/css">
    #dvManGrillaPaging .dataTables_info {
        color: #33b35a;
        font-size: 15px;
        margin-top: 10px;
    }

    #dvManGrillaPaging .dataTables_length > label {
        margin: 0px;
        font-size: 12px;
    }
</style>

<div class="card">
    <div class="card-header text-left">
        <h5>@Model.titleMenu</h5>
    </div>
    <div class="card-body">
        <form id="frmManGrillaPaging">
            @Html.HiddenFor(m => m.tipoFormulario)
            @Html.Hidden("hdfOpcionBuscar")
            @Html.Hidden("hdfValorBuscar")
            @if (Model.tipoFormulario != "AEXPEDIENTE_SITD")
            {
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.DropDownList("ddlOpcionBuscarId", Model.cboOpciones, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control form-control-sm" id="txtValorBuscar" placeholder="Ingrese Valor a Buscar">
                    </div>
                    <div class="btn-group col-md-2" style="padding-top:5px;">
                        <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar el registro" onclick="_ManGrillaPaging.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                        <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Actualizar el listado" onclick="_ManGrillaPaging.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                        <a id="btnAdd" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Crear un nuevo registro" onclick="_ManGrillaPaging.fnCreate('')"><span class="fa mx-2 fa-lg fa-plus"></span></a>
                        <a id="btnDownload" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar" onclick="_ManGrillaPaging.fnExport()"><span class="fa mx-2 fa-lg fa-file-excel-o"></span></a>
                    </div>
                </div>
            }
            else
            {
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOpcionBuscarId", Model.cboOpciones, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOpcionBuscarId1", Model.cboOpciones1, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control form-control-sm" id="txtValorBuscar" placeholder="Ingrese Valor a Buscar">
                    </div>
                    <div class="btn-group col-md-2" style="padding-top:5px;">
                        <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar el registro" onclick="_ManGrillaPaging.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                        <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Actualizar el listado" onclick="_ManGrillaPaging.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                        <a id="btnAdd" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Crear un nuevo registro" onclick="_ManGrillaPaging.fnCreate('')"><span class="fa mx-2 fa-lg fa-plus"></span></a>
                        <a id="btnDownload" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar" onclick="_ManGrillaPaging.fnExport()"><span class="fa mx-2 fa-lg fa-file-excel-o"></span></a>
                    </div>
                </div>
            }

        </form>
        <div id="dvManGrillaPaging" class="table-responsive">
            <table id="tbManGrillaPaging" class="table table-hover table-bordered" style="width:100%;">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
