
@model CapaEntidad.ViewModel.VM_ProveidoElevacion
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Areas/Fiscalizacion/js/ManProveidoElevacion/AddEdit.js"></script>
@section scripts{
    <script>
        "use strict"; var rol = '';
    $(document).ready(function () {
        //Validamos el rol del usuario
        utilSigo.ValidaRol('@ViewBag.VAliasRol', 'btnRegistrar', '@Model.vmControlCalidad.ddlIndicadorId');
    });
    </script>
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header text-right">
            Proveído Nota Elevación
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header text-small">
                    <a id="btnRegistrar" href="javascript:void(0)" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Guardar" onclick="ManProvElev_AddEdit.fnSaveForm()"><i class="fa mx-2 fa-lg fa-save"></i></a>
                    <a style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Regresar" onclick="ManProvElev_AddEdit.regresar()"><i class="fa mx-2 fa-lg fa-reply"></i></a>
                    @Model.lblItemTitulo
                </div>
                <div class="card-body">
                    <form id="frmAddOrEditProvElevacion">
                        <!-- form-->
                        @Html.HiddenFor(m => m.hdcodigo)
                        @Html.HiddenFor(m => m.RegEstado)
                        @Html.HiddenFor(m => m.hdfFuncionarioCodigo)
                        @Html.HiddenFor(m => m.hsfProfesionalCodigo)


                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#navEstado" role="tab" aria-controls="home" aria-selected="true">Estado Situacional</a></li>
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#navDatos" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show" id="navEstado" role="tabpanel" aria-labelledby="nav-home-tab">
                                @{ Html.RenderAction("_ControlCalidad", "Controles", new { area = "GENERAL", dto = Model.vmControlCalidad }); }
                            </div>
                            <div class="tab-pane fade show active" id="navDatos" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card">

                                    <!---->
                                    <div class="form-row">

                                        <div class="form-group col-md-12">
                                            <br />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="txtNumLegal" class="text-small">O.D. desde donde registra la información</label>
                                            @Html.DropDownListFor(m => m.txtIdOD, new SelectList(Model.ListODs, "CODIGO", "DESCRIPCION"),
                                                                     new { @class = "form-control form-control-sm", @id = "ddlOds" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="txtNumLegal" class="text-small">Oficina</label>
                                            @Html.DropDownListFor(m => m.txtIdOficina, new SelectList(Model.ListDirecionLinea, "COD_DLINEA", "DESCRIPCION"),
                                                                     new { @class = "form-control form-control-sm", @id = "ddlDirecionLinea" })
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txtProfesional" class="text-small texto-recortado">Nombre del Funcionario que deriva<i class="fa fa-cog fa-spin text-danger" id="iconRLegalCodigo" style="display:none;" data-toggle="tooltip" data-placement="top" title="Seleccione funcionario"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-plus" style="cursor:pointer;" onclick="ManProvElev_AddEdit.fnBuscarPersona('FUNCIONARIO', 'N');" data-toggle="tooltip" data-placement="top" title="Agregar"></i></span>
                                                </div>
                                                @Html.EditorFor(m => m.txtFuncionario, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dvRenderListInforme" class="form-row" style="margin-bottom:10px;">
                                        <div class="col-md-12">
                                            @Html.Partial("~/Areas/Fiscalizacion/Views/ManProveidoElevacion/Shared/_renderListaInforme.cshtml", Model)
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txtProfesional" class="text-small texto-recortado">Nombre Profesional a quien deriva<i class="fa fa-cog fa-spin text-danger" id="iconRLegalCodigo" style="display:none;" data-toggle="tooltip" data-placement="top" title="Seleccione funcionario"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-plus" style="cursor:pointer;" onclick="ManProvElev_AddEdit.fnBuscarPersona('PROFESIONAL', 'N');" data-toggle="tooltip" data-placement="top" title="Agregar"></i></span>
                                                </div>
                                                @Html.EditorFor(m => m.txtProfesional, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">

                                        <div class="form-group col-md-12">
                                            <br />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="txtNumLegal" class="text-small">Derivado para</label>
                                            @Html.DropDownListFor(m => m.txtIdDerivadoPara, new SelectList(Model.ListDerivadopara, "CODIGO", "DESCRIPCION"),
                                                                     new { @class = "form-control form-control-sm", @id = "ddlDerivadopara" })
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="txtNumLegal" class="text-small">Fecha de derivación (recepción por parte del destinatario)</label>
                                            @Html.EditorFor(m => m.txtFechaDerivacion, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "dd/mm/yyyy", title = "la fecha a ingresar debe ser en el formato dd/mm/yyyy", maxlength = "10" } })

                                        </div>

                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="txtObservaciones" class="text-small">Observaciones</label>
                                            @Html.TextAreaFor(m => m.txtObservacion, 8, 1, new { @class = "form-control form-control-sm" })
                                        </div>
                                    </div>
                                    @*<div class="card-header text-small">Archivos cargados en el SIADO</div>
                                        <div class="card-body">
                                            <div class="form-row">
                                                @{Html.RenderAction("_IntegracionSIADO", "Controles", new { area = "GENERAL", asCriterio = "SUBTIP_TITDOCSIGO", asSubCriterio = "0010", asValor = Model.hdcodigo });}
                                            </div>
                                        </div>*@
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hide" id="mdlBuscarPersona" role="dialog"></div>
<div class="modal fade" id="modalAddEditPersona" tabindex="-1" role="dialog"></div>
<div class="modal fade hide" id="personaUbigeoModal" role="dialog"></div>

